<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DoctorMapper">
	<resultMap type="Doctor" id="doctorResultMap">
		<id column="id" property="id"/>
		<result column="registration_id" property="registrationId"/>
		<result column="name" property="name"/>
		<result column="mobile" property="mobile"/>
		<result column="gender" property="gender"/>
		<result column="photo_url" property="photoUrl"/>
		<result column="introduce" property="introduce"/>
		<result column="income_account" property="incomeAccount"/>
		<result column="account_type" property="accountType"/>
		<result column="account_type" property="accountType"/>
		<result column="total_income" property="totalIncome"/>
		<result column="account_balance" property="accountBalance"/>
		<result column="title_id" property="titleId"/>
		<result column="qualification" property="qualification"/>
		<result column="hospital_id" property="hospitalId"/>
		<result column="hospital_name" property="hospitalName"/>
		<result column="royalty_rate" property="royaltyRate"/>
		<result column="status" property="status"/>
		<result column="remark" property="remark"/>
		<result column="del_flag" property="delFlag"/>
		<result column="create_user_id" property="createUserId"/>
		<result column="create_time" property="createTime"/>
		<result column="update_user_id" property="updateUserId"/>
		<result column="update_time" property="updateTime"/>
		<result column="pioneer_id" property="pioneerId"/>
		<result column="has_agreement" property="hasAgreement"/>
	</resultMap>
	
	<!-- 新增-->
	<insert id="save" parameterType="Doctor" useGeneratedKeys="true" 
		keyProperty="id">
		insert into p_doctor(
		    registration_id,
			name,
			mobile,
			gender,
			photo_url,
			introduce,
			income_account,
			account_type,
			total_income,
			account_balance,
			title_id,
			qualification,
			hospital_id,
			hospital_name,
			royalty_rate,
			status,
			remark,
			create_user_id,
			create_time,
			pioneer_id,
			has_agreement
		) values (
		    #{registrationId},
			#{name},
			#{mobile},
			#{gender},
			#{photoUrl},
			#{introduce},
			#{incomeAccount},
			#{accountType},
			#{totalIncome},
			#{accountBalance},
			#{titleId},
			#{qualification},
			#{hospitalId},
			#{hospitalName},
			#{royaltyRate},
			#{status},
			#{remark},
			#{createUserId},
			#{createTime},
			#{pioneerId},
			#{hasAgreement}
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="java.lang.Long">
		delete from p_doctor
		where
				id = #{value}
	</delete>
	
	<!-- 软删除-->
	<update id="deleteLogical" parameterType="java.lang.Long">
		update p_doctor set del_flag=1
		where id = #{value}
	</update>

	<!-- 修改 -->
	<update id="update" parameterType="Doctor">
		update p_doctor
			set 
			<if test="registrationId!=null">
				`registration_id` = #{registrationId},
			</if>
			<if test="name!=null and name!=''">
				`name` = #{name},
			</if>
			
			<if test="mobile!=null and mobile!=''">
				`mobile` = #{mobile},
			</if>
			
			<if test="gender!=null">
				`gender` = #{gender},
			</if>
			<if test="photoUrl!=null and photoUrl!=''">
				`photo_url` = #{photoUrl},
			</if>
			
			<if test="introduce!=null and introduce!=''">
				`introduce` = #{introduce},
			</if>
			
			<if test="incomeAccount!=null and incomeAccount!=''">
				`income_account` = #{incomeAccount},
			</if>
			
			<if test="accountType!=null">
				`account_type` = #{accountType},
			</if>
			<if test="totalIncome!=null">
				`total_income` = #{totalIncome},
			</if>
			<if test="accountBalance!=null">
				`account_balance` = #{accountBalance},
			</if>
			<if test="titleId!=null">
				`title_id` = #{titleId},
			</if>
			<if test="qualification!=null and qualification!=''">
				`qualification` = #{qualification},
			</if>
			
			<if test="hospitalId!=null">
				`hospital_id` = #{hospitalId},
			</if>
			<if test="hospitalName!=null and hospitalName!=''">
				`hospital_name` = #{hospitalName},
			</if>
			
			<if test="royaltyRate!=null">
				`royalty_rate` = #{royaltyRate},
			</if>
			<if test="status!=null">
				`status` = #{status},
			</if>
			<if test="remark!=null and remark!=''">
				`remark` = #{remark},
			</if>
			<if test="pioneerId!=null ">
				`pioneer_id` = #{pioneerId},
			</if>
			<if test="updateUserId!=null">
				update_user_id = #{updateUserId},
			</if>
			<if test="updateTime!=null">
				update_time = #{updateTime},
			</if>
			<if test="hasAgreement!=null">
				has_agreement = #{hasAgreement},
			</if>
			id = id
			where
				id = #{id}
	</update>
	
	
	<!-- 通过id获取数据 -->
	<select id="findById" parameterType="java.lang.Long" resultMap="doctorResultMap">
		select * from 
			p_doctor
		where 
			id = #{value}
	</select>
	
	<!-- 条件查询 -->
	<select id="findByCondition" parameterType="Doctor" resultMap="doctorResultMap">
		select * from 
			p_doctor where del_flag=0 
			<if test="registrationId!=null">
				and `registration_id` = #{registrationId} 
			</if>
			<if test="name!=null and name!=''">
				and `name` = #{name}
			</if>
			<if test="mobile!=null and mobile!=''">
				and `mobile` = #{mobile}
			</if>
			<if test="gender!=null">
				and `gender` = #{gender}
			</if>
			<if test="photoUrl!=null and photoUrl!=''">
				and `photo_url` = #{photoUrl}
			</if>
			<if test="introduce!=null and introduce!=''">
				and `introduce` = #{introduce}
			</if>
			<if test="incomeAccount!=null and incomeAccount!=''">
				and `income_account` = #{incomeAccount}
			</if>
			<if test="accountType!=null">
				and `account_type` = #{accountType}
			</if>
			<if test="totalIncome!=null">
				and `total_income` = #{totalIncome}
			</if>
			<if test="accountBalance!=null">
				and `account_balance` = #{accountBalance}
			</if>
			<if test="titleId!=null">
				and `title_id` = #{titleId}
			</if>
			<if test="qualification!=null and qualification!=''">
				and `qualification` = #{qualification}
			</if>
			<if test="hospitalId!=null">
				and `hospital_id` = #{hospitalId}
			</if>
			<if test="hospitalName!=null and hospitalName!=''">
				and `hospital_name` = #{hospitalName}
			</if>
			<if test="royaltyRate!=null">
				and `royalty_rate` = #{royaltyRate}
			</if>
			<if test="status!=null">
				and `status` = #{status}
			</if>
			<if test="remark!=null and remark!=''">
				and `remark` = #{remark}
			</if>
			<if test="pioneerId!=null and pioneerId!=''">
				and `pioneer_id` = #{pioneerId}
			</if>
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultMap="doctorResultMap">
		select * from 
				p_doctor a where del_flag=0
		<if test="pd.query_time_start!=null and pd.query_time_start!=''"><!-- 时间检索 -->
			and a.create_time &gt;= #{pd.query_time_start}
		</if>
		<if test="pd.query_time_end!=null and pd.query_time_end!=''"><!-- 时间检索 -->
			and a.create_time &lt;= #{pd.query_time_end}
		</if>	
		<if test="pd.query_key!=null and pd.query_key!=''"><!-- 关键字检索 -->
			and a.name like concat('%',#{pd.query_key},'%')
		</if>
		<if test="pd.query_key_mobile!=null and pd.query_key_mobile!=''"><!-- query_key_mobile -->
			and a.mobile like concat('%',#{pd.query_key_mobile},'%')
		</if>
		<if test="pd.query_key_incomeAccount!=null and pd.query_key_incomeAccount!=''"><!-- query_key_incomeAccount -->
			and a.income_account like concat('%',#{pd.query_key_incomeAccount},'%')
		</if>
		<if test="pd.query_key_qualification!=null and pd.query_key_qualification!=''"><!-- query_key_qualification -->
			and a.qualification like concat('%',#{pd.query_key_qualification},'%')
		</if>
		<if test="pd.query_key_royaltyRate!=null and pd.query_key_royaltyRate!=''"><!-- query_key_royaltyRate -->
			and a.royalty_rate like concat('%',#{pd.query_key_royaltyRate},'%')
		</if>
		<if test="pd.query_key_gender!=null and pd.query_key_gender!=''"><!-- query_key_gender -->
			and a.gender like concat('%',#{pd.query_key_gender},'%')
		</if>
		<if test="pd.query_key_titleId!=null and pd.query_key_titleId!=''"><!-- query_key_titleId -->
			and a.title_id like concat('%',#{pd.query_key_titleId},'%')
		</if>
		<if test="pd.query_key_accountType!=null and pd.query_key_accountType!=''"><!-- query_key_accountType -->
			and a.account_type like concat('%',#{pd.query_key_accountType},'%')
		</if>
		<if test="pd.query_key_pioneerId!=null and pd.query_key_pioneerId!=''"><!-- query_key_pioneerId -->
			and a.pioneer_id like concat('%',#{pd.query_key_pioneerId},'%')
		</if>
		<if test="pd.query_key_status!=null and pd.query_key_status!=''"><!-- query_key_status -->
			and a.status like concat('%',#{pd.query_key_status},'%')
		</if>
			order by id desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="String" resultMap="doctorResultMap">
		select * from p_doctor a where del_flag=0
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteBatch" parameterType="String">
		delete from p_doctor
		where id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 批量删除 -->
	<update id="deleteLogicalBatch" parameterType="String">
		update p_doctor set del_flag=1  
		where 
			id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</update>
	
	<!-- 获取医生详情 -->
	<select id="getDetailVO" parameterType="java.lang.Long" resultType="com.blue.pemapp.api.VO.DoctorDetailVO">
		select a.id, a.name, a.photo_url photoUrl, a.introduce, a.mobile, b.dic_name title, a.qualification 
		from 
			p_doctor a 
		left join t_dictionary b on a.title_id = b.dic_id
		where  
			a.id = #{value}
	</select>
	
	<!-- 获取病人的医生列表 -->
	<select id="listByMemberId" parameterType="Long" resultType="pd">
		select a.id, a.name, a.photo_url photoUrl from p_doctor a 
		left join p_doctor_member_asso b on a.id = b.doctor_id 
		where b.member_id = #{memberId}
	</select>
	
</mapper>