<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DoctorMessageMapper">
	<resultMap type="DoctorMessage" id="doctorMessageResultMap">
		<id column="id" property="id"/>
		<result column="doctor_id" property="doctorId"/>
		<result column="type_id" property="typeId"/>
		<result column="synopsis" property="synopsis"/>
		<result column="content" property="content"/>
		<result column="status" property="status"/>
		<result column="order_id" property="orderId"/>
		<result column="del_flag" property="delFlag"/>
		<result column="create_user_id" property="createUserId"/>
		<result column="create_time" property="createTime"/>
		<result column="update_user_id" property="updateUserId"/>
		<result column="update_time" property="updateTime"/>
		<!-- 业务增加 -->
		<result column="type" property="type"/>
		<result column="icon_url" property="iconUrl"/>
		<result column="member_id" property="memberId"/>
	</resultMap>
	
	<!-- 新增-->
	<insert id="save" parameterType="DoctorMessage" useGeneratedKeys="true" 
		keyProperty="id">
		insert into p_doctor_message(
			doctor_id,
			type_id,
			synopsis,
			content,
			status,
			order_id,
			create_user_id,
			create_time
		) values (
			#{doctorId},
			#{typeId},
			#{synopsis},
			#{content},
			#{status},
			#{orderId},
			#{createUserId},
			#{createTime}
		)
	</insert>
	
	<!--批量新增-->
    <insert id="batchSave" parameterType="list">
        insert into p_doctor_message(
            doctor_id,
			type_id,
			synopsis,
			content,
			status,
			order_id,
			create_user_id,
			create_time
        )
        values
        <foreach collection ="list" item="item" index= "index" separator =",">
        (
            #{item.doctorId},
			#{item.typeId},
			#{item.synopsis},
			#{item.content},
			#{item.status},
			#{item.orderId},
			#{item.createUserId},
			#{item.createTime}
        )
        </foreach>
    </insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="java.lang.Long">
		delete from p_doctor_message
		where
				id = #{value}
	</delete>
	
	<!-- 软删除-->
	<update id="deleteLogical" parameterType="java.lang.Long">
		update p_doctor_message set del_flag=1
		where id = #{value}
	</update>

	<!-- 修改 -->
	<update id="update" parameterType="DoctorMessage">
		update p_doctor_message
			set 
			<if test="doctorId!=null">
				`doctor_id` = #{doctorId},
			</if>
			<if test="typeId!=null">
				`type_id` = #{typeId},
			</if>
			<if test="synopsis!=null and synopsis!=''">
				`synopsis` = #{synopsis},
			</if>
			
			<if test="content!=null and content!=''">
				`content` = #{content},
			</if>
			
			<if test="status!=null">
				`status` = #{status},
			</if>
			<if test="orderId!=null">
				`order_id` = #{orderId},
			</if>
		<if test="updateUserId!=null and updateUserId!=''">
			update_user_id = #{updateUserId},
		</if>
		<if test="updateTime!=null">
			update_time = #{updateTime},
		</if>
			id = id
			where
				id = #{id}
	</update>
	
	
	<!-- 通过id获取数据 -->
	<select id="findById" parameterType="java.lang.Long" resultMap="doctorMessageResultMap">
		select a.*, b.name type, b.icon_url from 
			p_doctor_message a  
	    left join p_system_message_type b on a.type_id = b.id
		where 
			a.id = #{value}
	</select>
	
	<!-- 条件查询 -->
	<select id="findByCondition" parameterType="DoctorMessage" resultMap="doctorMessageResultMap">
		select a.*, b.name type, b.icon_url from 
			p_doctor_message a
		left join p_system_message_type b on a.type_id = b.id 		
		where a.del_flag=0
			<if test="doctorId!=null">
				and a.`doctor_id` = #{doctorId}
			</if>
			<if test="typeId!=null">
				and a.`type_id` = #{typeId}
			</if>
			<if test="synopsis!=null and synopsis!=''">
				and a.`synopsis` = #{synopsis}
			</if>
			<if test="content!=null and content!=''">
				and a.`content` = #{content}
			</if>
			<if test="status!=null">
				and a.`status` = #{status}
			</if>
			<if test="orderId!=null">
				and a.`order_id` = #{orderId}
			</if>
			order by a.create_time desc
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultMap="doctorMessageResultMap">
		select a.*, b.name type from 
				p_doctor_message a 
		left join p_system_message_type b on a.type_id = b.id
		where del_flag=0
		<if test="pd.query_time_start!=null and pd.query_time_start!=''"><!-- 时间检索 -->
			and a.create_time &gt;= #{pd.query_time_start}
		</if>
		<if test="pd.query_time_end!=null and pd.query_time_end!=''"><!-- 时间检索 -->
			and a.create_time &lt;= #{pd.query_time_end}
		</if>	
		<if test="pd.query_key!=null and pd.query_key!=''"><!-- 关键字检索 -->
			and a.name like concat('%',#{pd.query_key},'%')
		</if>
			order by a.create_time desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="String" resultMap="doctorMessageResultMap">
		select * from p_doctor_message a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteBatch" parameterType="String">
		delete from p_doctor_message
		where id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 批量删除 -->
	<update id="deleteLogicalBatch" parameterType="String">
		update p_doctor_message set del_flag=1  
		where 
			id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</update>
	
	<!-- 获取医生消息的总数量  -->
	<select id="getCountByCondition" parameterType="map" resultType="java.lang.Integer">
		select count(*) from p_doctor_message a 
		where a.del_flag=0 and a.doctor_id = #{doctorId} 
	</select>
	
	<!-- 获取医生的消息列表  -->
	<select id="pagingByCondition" parameterType="com.blue.pem.api.entity.PageCondition" resultMap="doctorMessageResultMap">
		select a.*, b.name type, b.icon_url iconUrl, c.member_id  from p_doctor_message a 
		left join p_system_message_type b on a.type_id = b.id 
		left join p_member_order c on a.order_id = c.id 
		where a.del_flag=0 and a.doctor_id = #{condition.doctorId} 
		order by a.create_time desc 
		limit #{currentResult}, #{pageSize} 
	</select>
	
	<!-- 将医生消息全部标记为已读 -->
	<update id="allMarkread" parameterType="java.lang.Long">
		update p_doctor_message set status=1
		where doctor_id = #{value} and status = 0
	</update>
	
</mapper>