<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DictionaryCodeMapper">
	<resultMap type="DictionaryCode" id="dictionaryCodeResultMap">
		<id column="id" property="id"/>
		<result column="code" property="code"/>
		<result column="name" property="name"/>
		<result column="remark" property="remark"/>
		<result column="create_user_id" property="createUserId"/>
		<result column="create_time" property="createTime"/>
	</resultMap>
	
	<!-- 新增-->
	<insert id="save" parameterType="DictionaryCode" useGeneratedKeys="true" keyProperty="id">
		insert into t_dictionary_code(
			code,
			name,
			remark,
			create_user_id,
			create_time
		) values (
			#{code},
			#{name},
			#{remark},
			#{createUserId},
			#{createTime}
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="java.lang.Long">
		delete from t_dictionary_code
		where 
			id = #{value}
	</delete>

	<!-- 修改 -->
	<update id="edit" parameterType="DictionaryCode">
		update t_dictionary_code	set 
			<if test="code!=null and code!=''">
				code = #{code},
			</if>
			<if test="name!=null and name!=''">
				name = #{name},
			</if>
			<if test="remark!=null and remark!=''">
				remark = #{remark},
			</if>
			id = id
			where 
				id = #{id}
	</update>
	
	
	<!-- 通过id获取数据 -->
	<select id="findById" parameterType="java.lang.Long" resultMap="dictionaryCodeResultMap">
		select * from 
			t_dictionary_code
		where 
			id = #{value}
	</select>
	
	<!-- 修改 -->
	<select id="findByCondition" parameterType="DictionaryCode" resultMap="dictionaryCodeResultMap">
		select * from 
			t_dictionary_code where 1=1
			<if test="createUserId!=null and createUserId!=''">
				and create_user_id = #{createUserId}
			</if>
			<if test="code!=null and code!=''">
				and code = #{code}
			</if>
			<if test="name!=null and name!=''">
				and name = #{name}
			</if>
			<if test="remark!=null and remark!=''">
				and remark = #{remark}
			</if>
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultMap="dictionaryCodeResultMap">
		select * from 
				t_dictionary_code a where 1=1
		<if test="pd.query_time_start!=null and pd.query_time_start!=''"><!-- 时间检索 -->
			and a.create_time &gt;= #{pd.query_time_start}
		</if>
		<if test="pd.query_time_end!=null and pd.query_time_end!=''"><!-- 时间检索 -->
			and a.create_time &lt;= #{pd.query_time_end}
		</if>	
		<if test="pd.query_key!=null and pd.query_key!=''"><!-- 关键字检索 -->
			and a.name like concat('%',#{pd.query_key},'%')
		</if>
			order by a.create_time desc	
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="String" resultMap="dictionaryCodeResultMap">
		select * from t_dictionary_code a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteBatch" parameterType="String">
		delete from t_dictionary_code
		where 
			id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>