<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CardBatchMapper">
	<resultMap type="CardBatch" id="cardBatchResultMap">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="hospital_id" property="hospitalId"/>
		<result column="hospital_name" property="hospitalName"/>
		<result column="card_type" property="cardType"/>
		<result column="card_count" property="cardCount"/>
		<result column="valid_time_start" property="validTimeStart"/>
		<result column="valid_time_end" property="validTimeEnd"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="update_time" property="updateTime"/>
	</resultMap>
	
	<!-- 新增-->
	<insert id="save" parameterType="CardBatch" useGeneratedKeys="true" keyProperty="id">
		insert into card_batch(
			name,
			hospital_id,
			hospital_name,
			card_type,
			card_count,
			valid_time_start,
			valid_time_end,
			del_flag,
			create_user_id,
			create_time
		) values (
			#{name},
			#{hospitalId},
			#{hospitalName},
			#{cardType},
			#{cardCount},
			#{validTimeStart},
			#{validTimeEnd},
	#{delFlag},
	#{createUserId},
	#{createTime}
		)
	</insert>
	
	<!-- 删除-->
	<update id="delete" parameterType="java.lang.Long">
		DELETE FROM card_batch
		where 
			id = #{value}
	</update>
	<!-- 删除-->
	<update id="deleteLogical" parameterType="java.lang.Long">
		DELETE FROM card_batch
		where
			id = #{value}
	</update>

    <!-- 批量删除 -->
    <delete id="deleteLogicalBatch" parameterType="String">
        delete from card_entity
        where
        id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

	<!-- 修改 -->
	<update id="edit" parameterType="CardBatch">
		update card_batch
			set 
			<if test="name!=null and name!=''">
				name = #{name},
			</if>
			<if test="hospitalId!=null">
				hospital_id = #{hospitalId},
			</if>
			<if test="hospitalName!=null and hospitalName!=''">
				hospital_name = #{hospitalName},
			</if>
			<if test="cardType!=null">
				card_type = #{cardType},
			</if>
			<if test="cardCount!=null">
				card_count = #{cardCount},
			</if>
			<if test="validTimeStart!=null and validTimeStart!=''">
				valid_time_start = #{validTimeStart},
			</if>
			<if test="validTimeEnd!=null and validTimeEnd!=''">
				valid_time_end = #{validTimeEnd},
			</if>
			id = id
			where 
				id = #{id}
	</update>
	
	
	<!-- 通过id获取数据 -->
	<select id="findById" parameterType="java.lang.Long" resultMap="cardBatchResultMap">
		select * from 
			card_batch
		where 
			id = #{value}
	</select>
	
	<!-- 条件查询 -->
	<select id="findByCondition" parameterType="CardBatch" resultMap="cardBatchResultMap">
		select * from 
			card_batch where del_flag=0
			<if test="createUserId!=null and createUserId!=''">
				and create_user_id = #{createUserId}
			</if>
			<if test="name!=null and name!=''">
				and name = #{name}
			</if>
			<if test="hospitalId!=null">
				and hospital_id = #{hospitalId}
			</if>
			<if test="hospitalName!=null and hospitalName!=''">
				and hospital_name = #{hospitalName}
			</if>
			<if test="cardType!=null">
				and card_type = #{cardType}
			</if>
			<if test="cardCount!=null">
				and card_count = #{cardCount}
			</if>
			<if test="validTimeStart!=null and validTimeStart!=''">
				and valid_time_start = #{validTimeStart}
			</if>
			<if test="validTimeEnd!=null and validTimeEnd!=''">
				and valid_time_end = #{validTimeEnd}
			</if>
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultMap="cardBatchResultMap">
		select * from 
				card_batch a where del_flag=0
		<if test="pd.query_time_start!=null and pd.query_time_start!=''"><!-- 时间检索 -->
			and a.create_time &gt;= #{pd.query_time_start}
		</if>
		<if test="pd.query_time_end!=null and pd.query_time_end!=''"><!-- 时间检索 -->
			and a.create_time &lt;= #{pd.query_time_end}
		</if>	
		<if test="pd.query_key!=null and pd.query_key!=''"><!-- 关键字检索 -->
			and a.name like concat('%',#{pd.query_key},'%')
		</if>
		<if test="pd.cardType!=null"><!-- 关键字检索 -->
			and a.card_type=#{pd.cardType}
		</if>
		<if test="pd.batchType!=null"><!-- 关键字检索 -->
			and a.card_type=#{pd.batchType}
		</if>
		<if test="pd.hospitalId!=null"><!-- 关键字检索 -->
			and a.hospital_id=#{pd.hospitalId}
		</if>
			order by a.create_time desc
	</select>

	<!-- 列表(全部) -->
	<select id="listAll" parameterType="String" resultMap="cardBatchResultMap">
		select * from card_batch a
	</select>
	
	<!-- 批量删除 -->
	<update id="deleteBatchLogical" parameterType="String">
		DELETE FROM card_batch
		where 
			id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</update>
	
</mapper>