<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CardTreatmentMapper">
	<resultMap type="CardTreatment" id="cardTreatmentResultMap">
		<id column="id" property="id"/>
		<result column="num" property="num"/>
		<result column="batch_id" property="batchId"/>
		<result column="batch_name" property="batchName"/>
		<result column="hospital_id" property="hospitalId"/>
		<result column="status" property="status"/>
		<result column="active_time" property="activeTime"/>
		<result column="check_time" property="checkTime"/>
		<result column="valid_time_start" property="validTimeStart"/>
		<result column="valid_time_end" property="validTimeEnd"/>
		<result column="create_user_id" property="createUserId"/>
		<result column="create_time" property="createTime"/>
		<result column="update_user_id" property="updateUserId"/>
		<result column="update_time" property="updateTime"/>

        <association property="hospitalName" column="hospital_id" select="selectHospitalNameById"></association>
        <association property="statusName" column="status" select="selectStatusNameByStatus"></association>
        <association property="patientItemId" column="num" select="selectPatientItemIdByCardNum"></association>
        <association property="patientItemName" column="num" select="selectPatientItemNameByCardNum"></association>
        <association property="officeId" column="num" select="selectPatientOfficeIdByCardNum"></association>
        <association property="officeName" column="num" select="selectPatientOfficeNameByCardNum"></association>
	</resultMap>

    <!--根据卡号查找关联用户id-->
    <select id="selectPatientItemIdByCardNum" parameterType="String" resultType="Long">
        SELECT id FROM patient_item WHERE check_card_num=#{value}
    </select>

    <!--根据卡号查找关联用户名称-->
    <select id="selectPatientItemNameByCardNum" parameterType="String" resultType="String">
        SELECT name FROM patient_item WHERE check_card_num=#{value}
    </select>

    <!--根据卡号查找关联科室ID-->
    <select id="selectPatientOfficeIdByCardNum" parameterType="String" resultType="Long">
        SELECT check_office_id FROM patient_item WHERE check_card_num=#{value}
    </select>

    <!--根据卡号查找关联科室名称-->
    <select id="selectPatientOfficeNameByCardNum" parameterType="String" resultType="String">
        SELECT check_office_name FROM patient_item WHERE check_card_num=#{value}
    </select>

    <!--根据医院id查询名称-->
    <select id="selectHospitalNameById" parameterType="long" resultType="String">
        SELECT name FROM hospital WHERE id=#{VALUE}
    </select>

    <!--分析状态名称-->
    <select id="selectStatusNameByStatus" parameterType="int" resultType="String">
        SELECT CASE #{value} WHEN 0 THEN "未激活" WHEN 1 THEN "已激活" ELSE "已检测" END
    </select>

    <!--查找所有批次名称-->
    <select id="findAllBatchNames" resultType="String">
        SELECT DISTINCT (batch_name) AS batchName from card_treatment ORDER BY create_time DESC
    </select>

	<!-- 新增-->
	<insert id="save" parameterType="CardTreatment" useGeneratedKeys="true" keyProperty="id">
		insert into card_treatment(
			num,
			batch_name,
			batch_id,
			hospital_id,
			status,
			active_time,
			check_time,
			valid_time_start,
			valid_time_end,
			create_user_id,
			create_time
		) values (
			#{num},
			#{batchName},
			#{batchId},
			#{hospitalId},
			#{status},
			#{activeTime},
			#{checkTime},
			#{validTimeStart},
			#{validTimeEnd},
			#{createUserId},
			#{createTime}
		)
	</insert>

    <!--批量插入-->
    <insert id="batchSave" parameterType="list">
		insert into card_treatment(
			num,
			batch_name,
			batch_id,
			hospital_id,
			status,
			active_time,
			check_time,
			valid_time_start,
			valid_time_end,
			create_user_id,
			create_time
		) values
        <foreach collection ="list" item="item" index= "index" separator =",">
        (
            #{item.num},
            #{item.batchName},
            #{item.batchId},
            #{item.hospitalId},
            #{item.status},
            #{item.activeTime},
            #{item.checkTime},
            #{item.validTimeStart},
            #{item.validTimeEnd},
            #{item.createUserId},
            #{item.createTime}
        )
        </foreach>
    </insert>

	<!-- 删除-->
	<delete id="deleteLogical" parameterType="java.lang.Long">
		delete from card_treatment
		where 
			id = #{value}
	</delete>

	<!-- 修改 -->
	<update id="update" parameterType="CardTreatment">
		update card_treatment
			set 
			<if test="num!=null and num!=''">
				num = #{num},
			</if>
			<if test="batchName!=null and batchName!=''">
				batch_name = #{batchName},
			</if>
			<if test="hospitalId!=null">
				hospital_id = #{hospitalId},
			</if>
			<if test="status!=null">
				status = #{status},
			</if>
			<if test="activeTime!=null and activeTime!=''">
				active_time = #{activeTime},
			</if>
			<if test="checkTime!=null and checkTime!=''">
				check_time = #{checkTime},
			</if>
			<if test="validTimeStart!=null and validTimeStart!=''">
				valid_time_start = #{validTimeStart},
			</if>
			<if test="validTimeEnd!=null and validTimeEnd!=''">
				valid_time_end = #{validTimeEnd},
			</if>
			id = id
			where 
				id = #{id}
	</update>
	
	
	<!-- 通过id获取数据 -->
	<select id="findById" parameterType="java.lang.Long" resultMap="cardTreatmentResultMap">
		select * from 
			card_treatment
		where 
			id = #{value}
	</select>
	
	<!-- 条件查询 -->
	<select id="findByCondition" parameterType="CardTreatment" resultMap="cardTreatmentResultMap">
		select * from 
			card_treatment where 1=1
			<if test="createUserId!=null and createUserId!=''">
				and create_user_id = #{createUserId}
			</if>
			<if test="num!=null and num!=''">
				and num = #{num}
			</if>
			<if test="batchName!=null and batchName!=''">
				and batch_name = #{batchName}
			</if>
			<if test="batchId!=null and batchId!=''">
				and batch_id = #{pd.batchId}
			</if>
			<if test="hospitalId!=null">
				and hospital_id = #{hospitalId}
			</if>
			<if test="status!=null">
				and status = #{status}
			</if>
			<if test="activeTime!=null and activeTime!=''">
				and active_time = #{activeTime}
			</if>
			<if test="checkTime!=null and checkTime!=''">
				and check_time = #{checkTime}
			</if>
			<if test="validTimeStart!=null and validTimeStart!=''">
				and valid_time_start = #{validTimeStart}
			</if>
			<if test="validTimeEnd!=null and validTimeEnd!=''">
				and valid_time_end = #{validTimeEnd}
			</if>
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultMap="cardTreatmentResultMap">
		select a.* from
				card_treatment a
        LEFT JOIN patient_item b ON a.num=b.check_card_num
        where 1=1
        <if test="pd.treatmentCardNum!=null and pd.treatmentCardNum!=''"><!-- 卡片编号 -->
            and a.num like concat('%',#{pd.treatmentCardNum},'%')
        </if>
        <if test="pd.patient_item_name!=null and pd.patient_item_name!=''"><!-- 用户姓名 -->
            and b.name LIKE concat("%",#{pd.patient_item_name},"%")
        </if>
        <if test="pd.status!=null and pd.status!='-1'"><!-- 卡片状态 -->
            and a.status=#{pd.status}
        </if>
        <if test="pd.batchName!=null and pd.batchName!=''"><!-- 批次名称 -->
            and a.batch_name=#{pd.batchName}
        </if>
        <if test="pd.batchId!=null and pd.batchId>-1"><!-- 批次id -->
            and a.batch_id=#{pd.batchId}
        </if>
        <if test="pd.create_time_start!=null and pd.create_time_start!=''"><!-- 创建时间开始-->
            and a.create_time&gt;=concat(#{pd.create_time_start},"00:00:00")
        </if>
        <if test="pd.create_time_end!=null and pd.create_time_end!=''"><!-- 创建时间结束-->
            and a.create_time&lt;=concat(#{pd.create_time_end},"23:59:59")
        </if>
        <if test="pd.check_time_start!=null and pd.check_time_start!=''"><!-- 激活时间开始-->
            and a.active_time&gt;=concat(#{pd.check_time_start},"00:00:00")
        </if>
        <if test="pd.check_time_end!=null and pd.check_time_end!=''"><!-- 激活时间结束-->
            and a.active_time&lt;=concat(#{pd.check_time_end},"23:59:59")
        </if>
        <if test="pd.check_time_start!=null and pd.check_time_start!=''"><!-- 检测时间开始-->
            and a.check_time&gt;=concat(#{pd.check_time_start},"00:00:00")
        </if>
        <if test="pd.check_time_end!=null and pd.check_time_end!=''"><!-- 检测时间结束-->
            and a.check_time&lt;=concat(#{pd.check_time_end},"23:59:59")
        </if>
			order by
        <if test="pd.order!=null and pd.order=1">
            a.id,
        </if>
        a.create_time desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="String" resultMap="cardTreatmentResultMap">
		select * from card_treatment a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteBatch" parameterType="String">
		delete from card_treatment
		where 
			id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>

    <!--批次名称是否重复-->
    <select id="isBatchNameDuplicated" parameterType="String" resultType="boolean">
        SELECT EXISTS (SELECT 1 FROM card_treatment WHERE batch_name=#{value})
    </select>

    <!--判断干预卡是否已被绑定-->
    <select id="isTreatmentCardNumInuse" parameterType="String" resultType="boolean">
        SELECT EXISTS(SELECT 1 FROM patient_item WHERE treat_card_num=#{value})
    </select>

    <!--干预实体卡列表查询(医院端)-->
    <select id="findTreatmentCardlistPage" parameterType="page" resultType="map">
        SELECT
        a.id,
        a.treat_card_num AS treatCardNum,
        a.check_card_num AS checkCardNum,
        a.name ,
        a.mobile,
        b.create_time AS createTime,
        b.active_time AS activeTime,
        CASE b.status
        WHEN 2 THEN "已检测"
        WHEN 1 THEN "已激活"
        ELSE "未激活" END AS statusName,
        b.check_time AS checkTime,
        a.check_office_name AS checkOficeName,
        CASE a.treat_card_status
        WHEN 1 THEN "开启"
        ELSE "关闭" END AS treatCardStatus,
        cp.name AS checkPackageName
        FROM
        patient_package_asso ppa
        LEFT JOIN patient_item a ON ppa.patient_item_id = a.id
        LEFT JOIN check_package cp ON ppa.package_id = cp.id
        INNER JOIN card_treatment b ON a.treat_card_num = b.num
        WHERE a.hospital_id =#{pd.hospitalId} AND a.check_card_num IS NOT NULL
        <if test="pd.queryKey!=null and pd.queryKey!=''">
            AND (a.treat_card_status like concat('%',#{pd.queryKey},'%') OR a.name like concat('%',#{pd.queryKey},'%'))
        </if>
        <if test="pd.mobile!=null and pd.mobile!=''">
            AND a.mobile =#{pd.mobile}
        </if>
        <if test="pd.checkTimeStart!=null and pd.checkTimeStart!=''">
            AND (b.check_time IS NOT NULL AND date_format(b.check_time,'%Y-%m-%d')&gt;=#{pd.checkTimeStart})
        </if>
        <if test="pd.checkTimeEnd!=null and pd.checkTimeEnd!=''">
            AND (b.check_time IS NOT NULL AND date_format(b.check_time,'%Y-%m-%d')&lt;=#{pd.checkTimeEnd})
        </if>
        <if test="pd.officeId!=null">
            AND a.check_office_id =#{pd.officeId}
        </if>
        <if test="pd.departmentId!=null">
            AND a.check_office_id IN (SELECT office_id FROM hospital_depart_office_asso WHERE department_id=#{pd.departmentId})
        </if>
        <if test="pd.checkStatus!=null">
            AND b.status =#{pd.checkStatus}
        </if>
        <if test="pd.treatStatus!=null">
            AND a.treat_card_status =#{pd.treatStatus}
        </if>
        ORDER BY b.check_time desc, b.active_time desc, b.create_time DESC
    </select>

    <delete id="deleteByBatchId" parameterType="long">
        DELETE FROM card_treatment WHERE batch_id=#{value}
    </delete>

    <!--恢复干预卡为可用状态-->
    <update id="treatCardRevert" parameterType="String" >
        UPDATE card_treatment SET status=0,active_time=null,check_time=null WHERE num=#{VALUE}
    </update>

    <!--查询虚拟干预卡序列号-->
    <select id="findSerialNo" parameterType="long" resultType="int">
        SELECT count(1)+1 FROM card_treatment WHERE hospital_id=#{value} AND batch_id IS NULL AND date_format(create_time,"%Y%m%d")=date_format(now(),"%Y%m%d")
    </select>










</mapper>