<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PatientCheckReportMapper">
	<resultMap type="PatientCheckReport" id="patientCheckReportResultMap">
		<id column="id" property="id"/>
		<result column="patient_item_id" property="patientItemId"/>
		<result column="package_id" property="packageId"/>
		<result column="package_type" property="packageType"/>
		<result column="report_status" property="reportStatus"/>
		<result column="check_time" property="checkTime"/>
		<result column="check_status" property="checkStatus"/>
		<result column="alert_status" property="alertStatus"/>
		<result column="alert_look_status" property="alertLookStatus"/>
		<result column="alert_deal_status" property="alertDealStatus"/>
		<result column="is_user_look" property="isUserLook"/>
		<result column="report_time" property="reportTime"/>
		<result column="audit_doctor_id" property="auditDoctorId"/>
		<result column="audit_doctor_name" property="auditDoctorName"/>
		<result column="audit_doctor_sign" property="auditDoctorSign"/>
		<result column="audit_time" property="auditTime"/>
		<result column="report_num" property="reportNum"/>
		<result column="check_comment" property="checkComment"/>
		<result column="check_suggest" property="checkSuggest"/>
		<result column="create_user_id" property="createUserId"/>
		<result column="create_time" property="createTime"/>
		<result column="update_user_id" property="updateUserId"/>
		<result column="update_time" property="updateTime"/>
		
		<result column="special_package_hint" property="specialPackageHint"/>
		<result column="special_package_compare_hint" property="specialPackageCompareHint"/>
	</resultMap>
	
	<!-- 新增-->
	<insert id="save" parameterType="PatientCheckReport" useGeneratedKeys="true" keyProperty="id">
		insert into patient_check_report(
			patient_item_id,
			package_id,
			package_type,
			report_status,
			check_time,
			check_status,
			alert_status,
			alert_look_status,
			alert_deal_status,
			is_user_look,
			report_time,
			audit_doctor_id,
			audit_doctor_name,
			audit_doctor_sign,
			audit_time,
			report_num,
			check_comment,
			check_suggest,
			create_user_id,
			create_time,
			special_package_hint,
			special_package_compare_hint
		) values (
			#{patientItemId},
			#{packageId},
			#{packageType},
			#{reportStatus},
			#{checkTime},
			#{checkStatus},
			#{alertStatus},
			#{alertLookStatus},
			#{alertDealStatus},
			#{isUserLook},
			#{reportTime},
			#{auditDoctorId},
			#{auditDoctorName},
			#{auditDoctorSign},
			#{auditTime},
			#{reportNum},
			#{checkComment},
			#{checkSuggest},
			#{createUserId},
			#{createTime},
			#{specialPackageHint},
			#{specialPackageCompareHint}
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="java.lang.Long">
		delete from patient_check_report
		where 
			id = #{value}
	</delete>

	<!-- 修改 -->
	<update id="update" parameterType="PatientCheckReport">
		update patient_check_report
			set 
			<if test="patientItemId != null">
				patient_item_id = #{patientItemId},
			</if>
			<if test="packageId!= null">
                package_id = #{packageId},
			</if>
			<if test="packageType!= null">
                package_type = #{packageType},
			</if>
			<if test="reportStatus != null">
				report_status = #{reportStatus},
			</if>
			<if test="checkTime != null and checkTime != ''">
				check_time = #{checkTime},
			</if>
			<if test="checkStatus!= null">
				check_status = #{checkStatus},
			</if>
			<if test="alertStatus!= null">
                alert_status = #{alertStatus},
			</if>
			<if test="alertLookStatus!= null">
                alert_look_status = #{alertLookStatus},
			</if>
			<if test="alertDealStatus!= null">
                alert_deal_status = #{alertDealStatus},
			</if>
			<if test="isUserLook!= null">
                is_user_look = #{isUserLook},
			</if>
			<if test="reportTime != null and reportTime != ''">
				report_time = #{reportTime},
			</if>
			<if test="auditDoctorId != null">
				audit_doctor_id = #{auditDoctorId},
			</if>
			<if test="auditDoctorName != null and auditDoctorName != ''">
				audit_doctor_name = #{auditDoctorName},
			</if>
			<if test="auditDoctorSign != null and auditDoctorSign != ''">
				audit_doctor_sign = #{auditDoctorSign},
			</if>
			<if test="auditTime != null and auditTime != ''">
				audit_time = #{auditTime},
			</if>
			<if test="reportNum != null and reportNum != ''">
				report_num = #{reportNum},
			</if>
			<if test="checkComment != null and checkComment != ''">
				check_comment = #{checkComment},
			</if>
			<if test="checkSuggest != null and checkSuggest != ''">
				check_suggest = #{checkSuggest},
			</if>
			<if test="updateUserId != null">
                update_user_id = #{updateUserId},
			</if>
			<if test="specialPackageHint != null">
                special_package_hint = #{specialPackageHint},
			</if>
			<if test="specialPackageCompareHint != null">
                special_package_compare_hint = #{specialPackageCompareHint},
			</if>
			update_time = now()
			where 
				id = #{id}
	</update>

	<!-- 通过id获取数据 -->
	<select id="findById" parameterType="java.lang.Long" resultMap="patientCheckReportResultMap">
		select * from 
			patient_check_report
		where 
			id = #{value}
	</select>
	
	<!-- 条件查询 -->
	<select id="findByCondition" parameterType="PatientCheckReport" resultMap="patientCheckReportResultMap">
		select * from 
			patient_check_report where 1=1
			<if test="createUserId != null and createUserId != ''">
				and create_user_id = #{createUserId}
			</if>
			<if test="patientItemId != null">
				and patient_item_id = #{patientItemId}
			</if>
			<if test="packageId!= null">
				and package_id = #{packageId}
			</if>
			<if test="packageType!= null">
				and package_type = #{packageType}
			</if>
			<if test="reportStatus != null">
				and report_status = #{reportStatus}
			</if>
			<if test="checkStatus != null">
				and check_status = #{checkStatus}
			</if>
			<if test="alertStatus != null">
				and alert_status = #{alertStatus}
			</if>
			<if test="alertLookStatus != null">
				and alert_look_status = #{alertLookStatus}
			</if>
			<if test="alertDealStatus != null">
				and alert_deal_status = #{alertDealStatus}
			</if>
			<if test="isUserLook != null">
				and is_user_look = #{isUserLook}
			</if>
			<if test="checkTime != null and checkTime != ''">
				and check_time = #{checkTime}
			</if>
			<if test="reportTime != null and reportTime != ''">
				and report_time = #{reportTime}
			</if>
			<if test="auditDoctorId != null">
				and audit_doctor_id = #{auditDoctorId}
			</if>
			<if test="auditDoctorName != null and auditDoctorName != ''">
				and audit_doctor_name = #{auditDoctorName}
			</if>
			<if test="auditDoctorSign != null and auditDoctorSign != ''">
				and audit_doctor_sign = #{auditDoctorSign}
			</if>
			<if test="auditTime != null and auditTime != ''">
				and audit_time = #{auditTime}
			</if>
			<if test="reportNum != null and reportNum != ''">
				and report_num = #{reportNum}
			</if>
			<if test="checkComment != null and checkComment != ''">
				and check_comment = #{checkComment}
			</if>
			<if test="checkSuggest != null and checkSuggest != ''">
				and check_suggest = #{checkSuggest}
			</if>
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultMap="patientCheckReportResultMap">
		select * from 
				patient_check_report a where 1=1
		<if test="pd.query_time_start != null and pd.query_time_start!=''"><!-- 时间检索 -->
			and a.create_time &gt;= #{pd.query_time_start}
		</if>
		<if test="pd.query_time_end!=null and pd.query_time_end != ''"><!-- 时间检索 -->
			and a.create_time &lt;= #{pd.query_time_end}
		</if>
		order by a.create_time desc	
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="String" resultMap="patientCheckReportResultMap">
		select * from patient_check_report a
	</select>	
	<!-- 批量删除 -->
	<delete id="deleteBatch" parameterType="String">
		delete from patient_check_report
		where 
			id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>

    <!--医生端查看病人体检历史-->
    <select id="findPatientHistoryByMobile" parameterType="map" resultType="map">
        SELECT
        pi.id AS patientItemId,
        pcr.id AS reportId,
        ppa.check_card_num AS checkCardNum,
        pi.xiaoshan_medical_card AS xiaoshanMedicalCard,
        (SELECT name FROM hospital WHERE id = #{hospitalId}) AS hospitalName,
        CASE pi.treat_card_status WHEN 0 THEN "关闭" WHEN 1 THEN "开启" ELSE "" END AS treatStatusName,
        pi.check_office_name AS checkOfficeName,
        pi.check_doctor_name AS checkDoctorName,
        pcr.report_time AS reportTime,
        pcr.audit_time AS auditTime,
        cp.name AS checkPackageName,
        pcr.report_status AS reportStatus,
        pcr.alert_status AS alertStatus,
        ppa.status AS checkStatus
        FROM patient_package_asso ppa
        LEFT JOIN patient_item pi ON ppa.patient_item_id=pi.id
        LEFT JOIN patient_check_report pcr ON (ppa.patient_item_id = pcr.patient_item_id AND pcr.package_id = ppa.package_id)
        LEFT JOIN check_package cp ON cp.id = ppa.package_id
        WHERE pi.hospital_id=#{hospitalId} AND pi.mobile = #{mobile}
        ORDER BY pcr.report_time DESC ,pcr.check_time DESC
    </select>

    <!--医生端查询套餐检测报告单列表-->
    <select id="findCheckReportlistPage" parameterType="page" resultType="pd">
        SELECT
        pcr.id,
        CASE WHEN (ppa.check_card_num IS null OR ppa.check_card_num=null) THEN pi.xiaoshan_medical_card ELSE ppa.check_card_num END AS cardNum,
        pi.id AS patientItemId,
        pi.name,
        ifnull(pi.group_name,"个体") AS groupName,
        CASE pi.treat_card_status WHEN 0 THEN "关闭" WHEN 1 THEN "开启" ELSE "" END AS treatStatusName,
        pi.mobile,
        pi.check_office_name AS checkOfficeName,
        cp.id AS packageId,
        cp.name AS checkPackageName,
        pcr.report_time AS reportTime,
        pcr.report_status AS reportStatus,
        CASE pcr.report_status WHEN 0 THEN "未审核" WHEN 1 THEN "已审核" ELSE "已打印" END AS reportStatusName
        FROM patient_check_report pcr
        LEFT JOIN patient_item pi ON pcr.patient_item_id=pi.id
        LEFT JOIN check_package cp ON cp.id = pcr.package_id
        LEFT JOIN patient_package_asso ppa ON (ppa.patient_item_id = pcr.patient_item_id AND ppa.package_id = pcr.package_id)
        LEFT JOIN card_entity ce ON pi.check_card_num=ce.num
        LEFT JOIN card_virtual cv ON pi.check_card_num=cv.num
        WHERE pcr.check_status=1 AND pi.hospital_id=#{pd.hospitalId}
        <if test="pd.queryKey !=null and pd.queryKey!=''">
            AND (
            pi.name LIKE concat('%',#{pd.queryKey},'%')
            OR pi.mobile LIKE concat('%',#{pd.queryKey},'%')
            OR pi.check_card_num LIKE concat('%',#{pd.queryKey},'%')
            )
        </if>
        <if test="pd.checkDateStart!=null and pd.checkDateStart!=''">
            AND date_format(pcr.check_time,'%Y-%m-%d')&gt;=#{pd.checkDateStart}
        </if>
        <if test="pd.checkDateEnd!=null and pd.checkDateEnd!=''">
            AND date_format(pcr.check_time,'%Y-%m-%d')&lt;=#{pd.checkDateEnd}
        </if>
        <if test="pd.officeId!=null and pd.officeId>-1">
            AND pi.check_office_id=#{pd.officeId}
        </if>
        <if test="pd.authStatus!=null and pd.authStatus>-1">
            AND pcr.report_status=#{pd.authStatus}
        </if>
        <if test="pd.officeId!=null">
            AND pi.check_office_id=#{pd.officeId}
        </if>
        <if test="pd.departmentId!=null">
            AND pi.check_office_id IN (SELECT office_id FROM hospital_depart_office_asso WHERE department_id=#{pd.departmentId})
        </if>
        ORDER BY pcr.report_time DESC ,pcr.check_time DESC
    </select>

    <!--查询体检报告基本信息-->
    <select id="findBasicInfoByReportId" parameterType="long" resultType="pd">
        SELECT
        p.id AS patientItemId,
        p.xiaoshan_medical_card AS xiaoshanMedicalCard,
        p.name,
        p.check_card_num AS checkCardNum,
        p.mobile,
        CASE p.gender WHEN 1 THEN "男" ELSE "女" END AS genderName,
        (YEAR(NOW())-YEAR(p.birthday)) AS age,
        p.career,
        CASE p.marital_status WHEN 0 THEN "未婚" WHEN 1 THEN "已婚" ELSE "离异" END AS maritalStatusName,
        p.degree,
        CASE WHEN p.group_name IS NULL THEN "个体" ELSE p.group_name END AS groupName,
        r.audit_doctor_name AS checkDoctorName,
        p.check_office_name AS checkOfficeName,
        cp.name AS checkPackageName,
        p.treat_card_num AS treatCardNum,
        h.name AS hospitalName,
        r.report_status AS reportStatus,
        date_format(r.check_time, '%Y/%m/%d') AS checkTime,
        date_format(r.report_time, '%Y/%m/%d') AS reportTime,
        r.check_comment AS checkComment,
        r.check_suggest AS checkSuggest,
        r.audit_doctor_sign AS doctorSignUrl
        FROM patient_check_report r
        LEFT JOIN check_package cp ON r.package_id = cp.id
        INNER JOIN patient_item p ON r.patient_item_id=p.id
        LEFT JOIN hospital h ON h.id=p.hospital_id
        WHERE r.id=#{value}
    </select>

    <!--查询体检报告统计信息-->
    <select id="findPatientItemReportList" parameterType="map" resultType="pd">
        SELECT
        a.id AS sheetReportId,
        b.id AS sheetId,
        a.check_sheet_name AS sheetName,
        a.calculate_score AS score,
        a.check_comment AS checkComment,
        a.check_suggest AS checkSuggest,
        b.echart_type AS echartType,
        a.subjoin_result AS subjoinResult,
        b.render_expression AS renderExpression
        FROM patient_check_report_item a
        LEFT JOIN check_sheet b ON a.check_sheet_id=b.id
        WHERE a.patient_item_id=#{patientItemId} AND a.package_id = #{packageId}
    </select>
    
    <!--查询混合套餐的套擦体检报告统计信息-->
    <select id="findPackageMixReportList" parameterType="map" resultType="pd">
        SELECT
        a.id AS sheetReportId,
        a.check_sheet_name AS sheetName,
        a.check_sheet_id AS sheetId,
        a.calculate_score AS score,
        a.check_comment AS checkComment,
        a.check_suggest AS checkSuggest,
        b.echart_type AS echartType,
        a.subjoin_result AS subjoinResult,
        b.render_expression AS renderExpression
        FROM patient_check_report_item a
        LEFT JOIN check_sheet b ON a.check_sheet_id=b.id 
        <!-- LEFT JOIN check_package_mix_package_asso c ON a.package_id = c.package_mix_id  -->
        WHERE a.patient_item_id=#{patientItemId} 
        AND a.package_id = #{packageMixId}
    </select>
    
    <!--查询量表体检报告统计信息-->
   <!--  <select id="findPatientSheetReportList" parameterType="map" resultType="pd">
        SELECT
        a.id AS sheetReportId,
        a.check_sheet_name AS sheetName,
        a.calculate_score AS score,
        a.check_comment AS checkComment,
        a.check_suggest AS checkSuggest,
        b.echart_type AS echartType,
        b.render_expression AS renderExpression
        FROM patient_check_report_item a
        LEFT JOIN check_sheet b ON a.check_sheet_id=b.id 
        WHERE a.patient_item_id=#{patientItemId} AND a.package_id = #{packageMixId} 
        AND a.patient_item_id NOT IN (
             SELECT sa.sheet_id FROM check_package_mix_package_asso ma
             LEFT JOIN check_package_sheet_asso sa ON ma.package_id = sa.package_id 
             WHERE ma.package_id = #{packageMixId} 
        )
    </select> -->
    
    <!--查询特殊套餐的综合体检报告统计信息-->
    <select id="findSpecialPackageSheetReportList" parameterType="map" resultType="pd">
        SELECT
        a.id AS sheetReportId,
        a.check_sheet_id AS sheetId,
        a.check_sheet_name AS sheetName,
        a.calculate_score AS result,
        a.degree,
        a.check_time AS checkTime 
        <!-- a.check_comment AS checkComment,
        a.check_suggest AS checkSuggest,
        b.echart_type AS echartType,
        b.render_expression AS renderExpression -->
        FROM patient_check_report_item a
        <!-- LEFT JOIN check_sheet b ON a.check_sheet_id=b.id -->
        WHERE a.patient_item_id=#{patientItemId} AND a.check_sheet_id in
        <foreach item="item" index="index" collection="sheetIdList" open="(" separator="," close=")">
                 #{item}
		</foreach>
    </select>

    <!--批量审核体检报告-->
    <select id="updateAuditPackageReportBatch" parameterType="map">
        UPDATE patient_check_report
        SET report_status=1,
        audit_doctor_id=#{auditDoctorId},
        audit_doctor_name=#{auditDoctorName},
        audit_doctor_sign=#{auditDoctorSign},
        audit_time=now(),
        report_time=now(),
        update_time=now(),
        update_user_id=#{updateUserId}
        WHERE id IN
            <foreach collection="reportIds" open="(" close=")" separator="," item="reportId">
                #{reportId}
            </foreach>
        AND report_status=0 AND check_status=1 
    </select>

	<!-- 列表(listByGroupId) -->
	<select id="listByGroupId" parameterType="Long" resultMap="patientCheckReportResultMap">
		select 
			a.* 
		from 
			patient_check_report a
		LEFT JOIN
			patient_item b
		ON
			b.id = a.patient_item_id
		WHERE
			b.group_id = #{value}
	</select>

	<!-- 获取体检(报告)人数数量-->
	<select id="getReportNum" parameterType="pd" resultType="int">
			SELECT 
				count(*)  'num'
			FROM 
				patient_check_report a
			LEFT JOIN
				patient_item b
			ON
				b.id = a.patient_item_id
			WHERE
				a.check_status =1
				<if test="hospitalId !=null and hospitalId !=''"><!-- 医院 -->
					and b.hospital_id = #{hospitalId}
				</if>
				<if test="startTime !=null and startTime !=''"><!-- 时间检索 -->
					and b.create_time &gt;= #{startTime}
				</if>
				<if test="endTime !=null and endTime !=''"><!-- 时间检索 -->
					and b.create_time &lt;= #{endTime}
				</if>
				<if test="officeId !=null and officeId !=''"><!--科室检索 -->
					and b.check_office_id = #{officeId}
				</if>
				<if test="itemType == 0"><!-- 人次数量-->
					and
					1=1
				</if>
				<if test="itemType == 1"><!-- 个人数量-->
					and
					b.group_id is  NULL
				</if>
        <if test="officeId!=null">
            AND b.check_office_id=#{officeId}
        </if>
        <if test="departmentId!=null">
            AND b.check_office_id IN (SELECT office_id FROM hospital_depart_office_asso WHERE department_id=#{departmentId})
        </if>

	</select>

    <!--根据手机号查询体检报告记录-->
    <select id="findCheckReportByMobilelistPage" parameterType="page" resultType="map">
        SELECT
        pcr.id AS reportId,
        date_format(pcr.check_time,"%Y-%m-%d %H:%i") AS checkTime,
        cp.name AS packageName,
        IFNULL(pi.group_name,"个体") AS groupName,
        h.name AS hospitalName,
        pi.check_office_name AS officeName,
        CASE pcr.report_status WHEN 0 THEN 0 ELSE 1 END AS reportStatus,
        h.user_look AS userLook
        FROM patient_check_report pcr
        LEFT JOIN check_package cp ON pcr.package_id = cp.id
        INNER JOIN patient_item pi ON pcr.patient_item_id=pi.id
        LEFT JOIN hospital h ON pi.hospital_id = h.id
        WHERE pi.mobile=#{pd.mobile} AND pcr.report_status!=0
        <if test="pd.loginHospitalId!=null">
            AND pi.hospital_id=#{pd.loginHospitalId}
        </if>
        AND pcr.is_user_look=1
        ORDER BY checkTime DESC
    </select>
    
    <select id="getAverageScoreList" parameterType="map" resultType="java.lang.Double">
        select r.calculate_score from patient_check_report_item r 
        left join patient_item i on r.patient_item_id = i.id 
        left join hospital_batch_department_asso da on i.batch_id = da.batch_id 
       <!--  left join check_package_mix_package_asso px on r.package_id = px.package_mix_id  -->
        where r.check_sheet_id = #{condition.sheetId}
        and da.batch_id = #{condition.batchId} 
        <if test="packageIdList!=null and packageIdList.size>0">
        and r.package_id in 
        <foreach collection="packageIdList" open="(" close=")" separator="," item="item">
            #{item}
           </foreach>
        </if>
         
        <if test="condition.departmentId!=null">
            AND da.department_id=#{condition.departmentId}
        </if>
        <if test="condition.teamId!=null">
            AND da.team_id=#{condition.teamId} 
        </if>
    </select>
    
    <!-- 查询团体测试报告的总数量 -->
	<select id="getGroupReportCount" parameterType="com.blue.pem.api.entity.ReportSearchConditionDO" resultType="java.lang.Integer">
		select count(*) from patient_check_report a 
		left join patient_item pi on a.patient_item_id = pi.id 
		left join hospital_group_team t on pi.team_id = t.id 
		where pi.batch_id = #{batchId} 
		<if test="departmentId!=null">
            AND t.department_id=#{departmentId}
        </if>
        <if test="teamId!=null">
            AND pi.team_id=#{teamId} 
        </if>
	</select>	
</mapper>