<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PatientItemMapper">
    <resultMap type="PatientItem" id="patientItemResultMap">
        <id column="id" property="id"/>
        <result column="hospital_id" property="hospitalId"/>
        <result column="group_id" property="groupId"/>
        <result column="group_name" property="groupName"/>
        <result column="team_id" property="teamId"/>
        <result column="batch_id" property="batchId"/>
        <result column="member_id" property="memberId"/>
        <result column="check_card_type" property="checkCardType"/>
        <result column="check_card_num" property="checkCardNum"/>
        <result column="check_office_id" property="checkOfficeId"/>
        <result column="check_office_name" property="checkOfficeName"/>
        <result column="check_doctor_id" property="checkDoctorId"/>
        <result column="check_doctor_name" property="checkDoctorName"/>
        <result column="treat_card_status" property="treatCardStatus"/>
        <result column="treat_card_num" property="treatCardNum"/>
        <result column="name" property="name"/>
        <result column="department" property="department"/>
        <result column="gender" property="gender"/>
        <result column="mobile" property="mobile"/>
        <result column="birthday" property="birthday"/>
        <result column="degree" property="degree"/>
        <result column="career" property="career"/>
        <result column="marital_status" property="maritalStatus"/>
        <result column="xiaoshan_medical_card" property="xiaoshanMedicalCard"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="update_time" property="updateTime"/>
        <result column="checkResult" property="checkResult"/>
        <association column="id" property="checkPackageId" select="selectCurrentPackageIdByPatientId"/>
        <association column="id" property="checkPackageName" select="selectCurrentPackageNameByPatientId"/>
    </resultMap>
    <select id="selectCurrentPackageIdByPatientId" parameterType="long" resultType="long">
        SELECT package_id FROM patient_package_asso WHERE patient_item_id=#{VALUE} ORDER BY create_time DESC limit 1
    </select>
    <select id="selectCurrentPackageNameByPatientId" parameterType="long" resultType="String">
        SELECT `name` FROM check_package WHERE id=(
        SELECT package_id FROM patient_package_asso WHERE patient_item_id=#{VALUE} ORDER BY create_time DESC limit 1)
    </select>
    <resultMap type="PatientItemAndReport" id="patientItemAndReportResultMap">
        <id column="id" property="id"/>
        <result column="hospital_id" property="hospitalId"/>
        <result column="hospital_name" property="hospitalName"/>
        <result column="group_id" property="groupId"/>
        <result column="group_name" property="groupName"/>
        <result column="check_card_type" property="checkCardType"/>
        <result column="check_card_num" property="checkCardNum"/>
        <result column="check_office_id" property="checkOfficeId"/>
        <result column="check_office_name" property="checkOfficeName"/>
        <result column="check_doctor_id" property="checkDoctorId"/>
        <result column="check_doctor_name" property="checkDoctorName"/>
        <result column="treat_card_status" property="treatCardStatus"/>
        <result column="treat_card_num" property="treatCardNum"/>
        <result column="name" property="name"/>
        <result column="department" property="department"/>
        <result column="gender" property="gender"/>
        <result column="mobile" property="mobile"/>
        <result column="birthday" property="birthday"/>
        <result column="degree" property="degree"/>
        <result column="career" property="career"/>
        <result column="marital_status" property="maritalStatus"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="update_time" property="updateTime"/>

        <result column="report_id" property="reportId"/>
        <result column="report_status" property="reportStatus"/>
        <result column="check_time" property="checkTime"/>
        <result column="check_status" property="checkStatus"/>
        <result column="alert_status" property="alertStatus"/>
        <result column="report_time" property="reportTime"/>
        <result column="audit_doctor_id" property="auditDoctorId"/>
        <result column="audit_doctor_name" property="auditDoctorName"/>
        <result column="audit_doctor_sign" property="auditDoctorSign"/>
        <result column="audit_time" property="auditTime"/>
        <result column="report_num" property="reportNum"/>
        <result column="check_comment" property="checkComment"/>
        <result column="check_suggest" property="checkSuggest"/>
    </resultMap>

    <resultMap id="CheckDataExportBasicResultMap" type="CheckDataExportBasic">
        <result column="patientItemId" property="patientItemId"/> <!--体检id-->
        <result column="hospitalName" property="hospitalName"/> <!--医院名称-->
        <result column="officeName" property="officeName"/> <!--科室名称-->
        <result column="groupName" property="groupName"/> <!-- 团体名称-->
        <result column="industry" property="industry"/> <!-- 行业-->
        <result column="department" property="department"/> <!-- 部门-->
        <result column="checkPackageName" property="checkPackageName"/> <!-- 套餐名称-->
        <result column="mobile" property="mobile"/> <!-- 手机号-->
        <result column="gender" property="gender"/> <!-- 性别-->
        <result column="birthday" property="birthday"/> <!-- 出生年月-->
        <result column="age" property="age"/> <!--年龄-->
        <result column="degree" property="degree"/> <!-- 学历-->
        <result column="maritalStatusName" property="maritalStatusName"/> <!-- 婚姻状况-->
        <result column="career" property="career"/> <!-- 职业-->
        <result column="entryTime" property="entryTime"/> <!--录入时间-->
        <result column="reportTime" property="reportTime"/> <!--报告生成时间-->
    </resultMap>

    <!-- 新增-->
    <insert id="save" parameterType="PatientItem" useGeneratedKeys="true" keyProperty="id">
        insert into patient_item(
        hospital_id,
        group_id,
        group_name,
        team_id,
        batch_id,
        member_id,
        check_card_type,
        check_card_num,
        check_office_id,
        check_office_name,
        check_doctor_id,
        check_doctor_name,
        treat_card_status,
        treat_card_num,
        name,
        department,
        gender,
        mobile,
        birthday,
        degree,
        career,
        marital_status,
        xiaoshan_medical_card,
        create_user_id,
        create_time
        ) values (
        #{hospitalId},
        #{groupId},
        #{groupName},
        #{teamId},
        #{batchId},
        #{memberId},
        #{checkCardType},
        #{checkCardNum},
        #{checkOfficeId},
        #{checkOfficeName},
        #{checkDoctorId},
        #{checkDoctorName},
        #{treatCardStatus},
        #{treatCardNum},
        #{name},
        #{department},
        #{gender},
        #{mobile},
        #{birthday},
        #{degree},
        #{career},
        #{maritalStatus},
        #{xiaoshanMedicalCard},
        #{createUserId},
        #{createTime}
        )
    </insert>

    <!-- 删除-->
    <delete id="delete" parameterType="java.lang.Long">
        delete from patient_item
        where
        id = #{value}
    </delete>

    <!-- 修改 -->
    <update id="update" parameterType="PatientItem">
        update patient_item
        set
        <if test="hospitalId!=null">
            hospital_id = #{hospitalId},
        </if>
        <if test="groupId!=null">
            group_id = #{groupId},
        </if>
        <if test="groupName!=null and groupName!=''">
            group_name = #{groupName},
        </if>
        <if test="teamId!=null">
            team_id = #{teamId},
        </if>
        <if test="batchId!=null">
            batch_id = #{batchId},
        </if>
        <if test="memberId!=null">
            member_id = #{memberId},
        </if>
        <if test="checkCardType!=null">
            check_card_type = #{checkCardType},
        </if>
        <if test="checkCardNum!=null and checkCardNum!=''">
            check_card_num = #{checkCardNum},
        </if>
        <if test="checkOfficeId!=null">
            check_office_id = #{checkOfficeId},
        </if>
        <if test="checkOfficeName!=null and checkOfficeName!=''">
            check_office_name = #{checkOfficeName},
        </if>
        <if test="checkDoctorId!=null">
            check_doctor_id = #{checkDoctorId},
        </if>
        <if test="checkDoctorName!=null and checkDoctorName!=''">
            check_doctor_name = #{checkDoctorName},
        </if>
        <if test="treatCardStatus!=null">
            treat_card_status = #{treatCardStatus},
        </if>
        <if test="treatCardStatus ==0 ">
            treat_card_status = #{treatCardStatus},
            treat_card_num = null,
        </if>
        <if test="treatCardNum!=null and treatCardNum!=''">
            treat_card_num = #{treatCardNum},
        </if>
        <if test="name!=null and name!=''">
            name = #{name},
        </if>
        <if test="department!=null and department!=''">
            department = #{department},
        </if>
        <if test="gender!=null">
            gender = #{gender},
        </if>
        <if test="mobile!=null and mobile!=''">
            mobile = #{mobile},
        </if>
        <if test="birthday!=null and birthday!=''">
            birthday = #{birthday},
        </if>
        <if test="degree!=null and degree!=''">
            degree = #{degree},
        </if>
        <if test="career!=null and career!=''">
            career = #{career},
        </if>
        <if test="maritalStatus!=null">
            marital_status = #{maritalStatus},
        </if>
        <if test="xiaoshanMedicalCard!=null">
            xiaoshan_medical_card = #{xiaoshanMedicalCard},
        </if>
        id = id
        where
        id = #{id}
    </update>


    <!-- 通过id获取数据 -->
    <select id="findById" parameterType="java.lang.Long" resultMap="patientItemResultMap">
        select * from
        patient_item
        where
        id = #{value}
    </select>

    <!-- 条件查询 -->
    <select id="findByCondition" parameterType="PatientItem" resultMap="patientItemResultMap">
        select * from
        patient_item where 1=1
        <if test="createUserId!=null and createUserId!=''">
            and create_user_id = #{createUserId}
        </if>
        <if test="hospitalId!=null">
            and hospital_id = #{hospitalId}
        </if>
        <if test="groupId!=null">
            and group_id = #{groupId}
        </if>
        <if test="groupName!=null and groupName!=''">
            and group_name = #{groupName}
        </if>
        <if test="teamId!=null">
            and team_id = #{teamId}
        </if>
        <if test="batchId!=null">
            and batch_id = #{batchId}
        </if>
        <if test="memberId!=null">
            and member_id = #{memberId}
        </if>
        <if test="checkCardType!=null">
            and check_card_type = #{checkCardType}
        </if>
        <if test="checkCardNum!=null and checkCardNum!=''">
            and check_card_num = #{checkCardNum}
        </if>
        <if test="checkOfficeId!=null">
            and check_office_id = #{checkOfficeId}
        </if>
        <if test="checkOfficeName!=null and checkOfficeName!=''">
            and check_office_name = #{checkOfficeName}
        </if>
        <if test="checkDoctorId!=null">
            and check_doctor_id = #{checkDoctorId}
        </if>
        <if test="checkDoctorName!=null and checkDoctorName!=''">
            and check_doctor_name = #{checkDoctorName}
        </if>
        <if test="treatCardStatus!=null">
            and treat_card_status = #{treatCardStatus}
        </if>
        <if test="treatCardNum!=null and treatCardNum!=''">
            and treat_card_num = #{treatCardNum}
        </if>
        <if test="name!=null and name!=''">
            and name = #{name}
        </if>
        <if test="department!=null and department!=''">
            and department = #{department}
        </if>
        <if test="gender!=null">
            and gender = #{gender}
        </if>
        <if test="mobile!=null and mobile!=''">
            and mobile = #{mobile}
        </if>
        <if test="birthday!=null and birthday!=''">
            and birthday = #{birthday}
        </if>
        <if test="degree!=null and degree!=''">
            and degree = #{degree}
        </if>
        <if test="career!=null and career!=''">
            and career = #{career}
        </if>
        <if test="maritalStatus!=null">
            and marital_status = #{maritalStatus}
        </if>
        <if test="xiaoshanMedicalCard!=null">
            and xiaoshan_medical_card = #{xiaoshanMedicalCard}
        </if>
        order by create_time desc;
    </select>

    <!-- 列表 -->
    <select id="datalistPage" parameterType="page" resultMap="patientItemResultMap">
        select * from
        patient_item a where 1=1
        <if test="pd.query_time_start!=null and pd.query_time_start!=''"><!-- 时间检索 -->
            and a.create_time &gt;= #{pd.query_time_start}
        </if>
        <if test="pd.query_time_end!=null and pd.query_time_end!=''"><!-- 时间检索 -->
            and a.create_time &lt;= #{pd.query_time_end}
        </if>
        <if test="pd.hospital_id !=null and pd.hospital_id !=''"><!-- 医院id过滤 -->
            and a.hospital_id = #{pd.hospital_id}
        </if>
        <if test="pd.group_id !=null and pd.group_id !=''"><!-- 团队id过滤 -->
            and a.group_id = #{pd.group_id}
        </if>
        <if test="pd.mobile !=null and pd.mobile !=''"><!-- 手机号过滤 -->
            and a.mobile = #{pd.mobile}
        </if>
        <if test="pd.query_str !=null and pd.query_str !=''"><!-- app关键字检索 -->
            and
            (
            a.check_card_num like concat('%',#{pd.query_str},'%')
            or
            a.name like concat('%',#{pd.query_str},'%')
            or
            a.mobile like concat('%',#{pd.query_str},'%')
            )
        </if>
        <if test="pd.query_word !=null and pd.query_word !=''"><!-- 平台关键字检索 -->
            and
            (
            a.group_name like concat('%',#{pd.query_word},'%')
            or
            a.name like concat('%',#{pd.query_word},'%')
            )
        </if>
        <if test="pd.name!=null and pd.name!=''"><!-- 关键字检索 -->
            and a.name like concat('%',#{pd.name},'%')
        </if>
        order by a.create_time desc
    </select>
    <!-- 列表 -->
    <select id="itemAndReportlistPage" parameterType="page" resultMap="patientItemAndReportResultMap">
        select
        a.*,
        h.name AS hospital_name,
        b.id 'report_id',
        b.report_time,
        b.audit_time,
        b.check_comment,
        b.check_suggest,
        b.check_status,
        b.report_status,
        b.audit_doctor_name
        from
        patient_check_report b
        LEFT JOIN patient_item a ON b.patient_item_id = a.id
        LEFT JOIN hospital h ON a.hospital_id=h.id
        where 1=1
        <if test="pd.checkCardNum!=null and pd.checkCardNum!=''">
            AND a.check_card_num LIKE concat("%",${pd.checkCardNum},"%")
        </if>
        <if test="pd.name!=null and pd.name!=''">
            AND a.name LIKE concat("%",#{pd.name},"%")
        </if>
        <if test="pd.mobile!=null and pd.mobile!=''">
            AND a.mobile LIKE concat("%",#{pd.mobile},"%")
        </if>
        <if test="pd.groupName!=null and pd.groupName!=''">
            AND a.group_name LIKE concat("%",#{pd.groupName},"%")
        </if>
        <if test="pd.hospital_id !=null and pd.hospital_id !=''"><!-- 医院id过滤 -->
            and a.hospital_id = #{pd.hospital_id}
        </if>
        <if test="pd.isGroup!=null and pd.isGroup!='' and pd.isGroup==1">
            and a.group_id IS NOT null
        </if>
        <if test="pd.isGroup!=null and pd.isGroup!='' and pd.isGroup==0">
            and a.group_id IS null
        </if>
        <if test="pd.groupId!=null and pd.groupId!=''">
            and a.group_id =#{pd.groupId}
        </if>
        <if test="pd.hospital_office_id !=null and pd.hospital_office_id !=''"><!-- 科室过滤 -->
            and a.check_office_id= #{pd.hospital_office_id}
        </if>
        <if test="pd.item_gender !=null and pd.item_gender !=''"><!-- 科室过滤 -->
            and a.gender= #{pd.item_gender}
        </if>
        <if test="pd.min_age !=null and pd.min_age!=''"><!-- 年龄过滤 -->
            and( YEAR(now())-YEAR(a.birthday)) &gt;= #{pd.min_age}
        </if>
        <if test="pd.max_age !=null and pd.max_age!=''"><!-- 年龄过滤 -->
            and (YEAR(now())-YEAR(a.birthday)) &lt;= #{pd.max_age}
        </if>
        <if test="pd.treat_status !=null and pd.treat_status!=''"><!-- 干预状态 -->
            and a.treat_card_status=#{pd.treat_status}
        </if>
        <if test="pd.check_status !=null and pd.check_status==1"><!-- 体检状态 -->
            and b.check_status=1
        </if>
        <if test="pd.check_status !=null and pd.check_status==0"><!-- 体检状态 -->
            and (b.check_status IS null or b.check_status=0)
        </if>
        <if test="pd.report_status !=null and pd.report_status!=''"><!-- 审核状态 -->
            and b.report_status=#{pd.report_status}
        </if>
        <if test="pd.isAlert!=null and pd.isAlert!=''"><!-- 是否预警 -->
            and b.alert_status=#{pd.isAlert}
        </if>
        <if test="pd.mobile!=null and pd.mobile!=''">
            AND a.mobile=#{pd.mobile}
        </if>
        <if test="pd.query_time_start_create !=null and pd.query_time_start_create !=''"><!-- 个人创建时间检索 -->
            and a.create_time &gt;= #{pd.query_time_start_create}
        </if>
        <if test="pd.query_time_end_create !=null and pd.query_time_end_create !=''"><!-- 个人创建时间检索 -->
            and a.create_time &lt;= #{pd.query_time_end_create}
        </if>
        <if test="pd.query_time_start_report !=null and pd.query_time_start_report !=''"><!-- 报告生成时间检索 -->
            and b.report_time &gt;= #{pd.query_time_start_report}
        </if>
        <if test="pd.query_time_end_report !=null and pd.query_time_end_report !=''"><!-- 报告生成时间检索 -->
            and b.report_time &lt;= #{pd.query_time_end_report}
        </if>
        <if test="pd.query_time_start_audit !=null and pd.query_time_start_audit !=''"><!-- 报告审核时间检索 -->
            and b.audit_time &gt;= #{pd.query_time_start_audit}
        </if>
        <if test="pd.query_time_end_audit !=null and pd.query_time_end_audit !=''"><!-- 报告审核时间检索 -->
            and b.audit_time &lt;= #{pd.query_time_end_audit}
        </if>
        <if test="pd.patientItemIds!=null and pd.patientItemIds!=''">
            AND a.id IN (${pd.patientItemIds})
        </if>
        order by a.create_time desc
    </select>

    <!-- 列表(全部) -->
    <select id="listAll" parameterType="String" resultMap="patientItemResultMap">
        select * from patient_item a
    </select>

    <!-- 批量删除 -->
    <delete id="deleteBatch" parameterType="String">
        delete from patient_item
        where
        id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!--医生端查询患者信息-->
    <select id="findPatientInfoApi" parameterType="Long" resultType="map">
        SELECT
        a.name ,
        a.mobile,
        (YEAR(NOW())-YEAR(birthday)) AS age,
        CASE a.gender WHEN 1 THEN "男" WHEN 0 THEN "女" ELSE "" END AS genderName,
        a.degree,
        CASE a.marital_status WHEN 0 THEN "未婚" WHEN 1 THEN "已婚" ELSE "离异" END AS maritalStatusName,
        CASE WHEN a.group_name IS NULL THEN "个体" ELSE a.group_name END AS groupName
        FROM patient_item a WHERE id=#{value}
    </select>


    <!-- 列表 -->
    <select id="itemlistPage" parameterType="page" resultMap="patientItemResultMap">
        select
        a.* ,
        EXISTS (SELECT 1 FROM patient_check_report WHERE patient_item_id=a.id) AS checkResult
        from
        patient_item a where 1=1 and a.group_id is NULL
        <if test="pd.query_time_start!=null and pd.query_time_start!=''"><!-- 时间检索 -->
            and a.create_time &gt;= #{pd.query_time_start}
        </if>
        <if test="pd.query_time_end!=null and pd.query_time_end!=''"><!-- 时间检索 -->
            and a.create_time &lt;= #{pd.query_time_end}
        </if>
        <if test="pd.hospital_id !=null"><!-- 医院id过滤 -->
            and a.hospital_id = #{pd.hospital_id}
        </if>
        <if test="pd.group_id !=null"><!-- 团队id过滤 -->
            and a.group_id = #{pd.group_id}
        </if>
        <if test="pd.query_str !=null and pd.query_str !=''"><!-- app关键字检索 -->
            and
            (
            a.check_card_num like concat('%',#{pd.query_str},'%')
            or
            a.name like concat('%',#{pd.query_str},'%')
            or
            a.mobile like concat('%',#{pd.query_str},'%')
            )
        </if>
        <if test="pd.name!=null and pd.name!=''"><!-- 关键字检索 -->
            and a.name like concat('%',#{pd.name},'%')
        </if>
        <if test="pd.isFinished!=null">
            AND EXISTS (SELECT 1 FROM patient_check_report WHERE patient_item_id=a.id)=#{pd.isFinished}
        </if>
        <if test="pd.officeId!=null">
            AND a.check_office_id=#{pd.officeId}
        </if>
        <if test="pd.departmentId!=null">
            AND a.check_office_id IN (SELECT office_id FROM hospital_depart_office_asso WHERE department_id=#{pd.departmentId})
        </if>
        order by a.create_time desc
    </select>
    <!-- 个人历史列表mobile -->
    <select id="itemHistorylistPage" parameterType="page" resultMap="patientItemResultMap">
        select * from
        patient_item a where 1=1 and a.group_id is NULL
        group by a.mobile
        order by a.create_time desc
    </select>
    <!-- 列表 -->
    <select id="allItemlistPage" parameterType="page" resultMap="patientItemResultMap">
        select * from
        patient_item a where 1=1
        <if test="pd.query_time_start!=null and pd.query_time_start!=''"><!-- 时间检索 -->
            and a.create_time &gt;= #{pd.query_time_start}
        </if>
        <if test="pd.query_time_end!=null and pd.query_time_end!=''"><!-- 时间检索 -->
            and a.create_time &lt;= #{pd.query_time_end}
        </if>
        <if test="pd.hospital_id !=null and pd.hospital_id !=''"><!-- 医院id过滤 -->
            and a.hospital_id = #{pd.hospital_id}
        </if>
        <if test="pd.group_id !=null and pd.group_id !=''"><!-- 团队id过滤 -->
            and a.group_id = #{pd.group_id}
        </if>
        <if test="pd.name!=null and pd.name!=''"><!-- 关键字检索 -->
            and a.name like concat('%',#{pd.name},'%')
        </if>
        <if test="pd.patientItemIds!=null and pd.patientItemIds!=''"><!-- 关键字检索 -->
            and a.id IN (${})
        </if>
        group by a.mobile
        order by a.create_time desc
    </select>

    <!-- 查询列表 -->
    <select id="findItemListByCondtion" parameterType="PatientItem" resultMap="patientItemResultMap">
        select * from
        patient_item a where 1=1 and a.group_id is NULL
        <if test="checkOfficeId !=null and checkOfficeId !=''">
            and check_office_id = #{checkOfficeId}
        </if>
        order by a.create_time desc
    </select>

    <!--根据手机号查询最近的一次体检记录-->
    <select id="findLatestPatientByMobile" parameterType="String" resultMap="patientItemResultMap">
        SELECT * FROM patient_item WHERE mobile=#{mobile} ORDER BY create_time DESC limit 1
    </select>

    <!--获取patientItem数量-->
    <select id="getPatientItemNum" parameterType="pd" resultType="int">
        SELECT
        COUNT(*) 'num'
        FROM
        patient_item a
        WHERE
        1=1
        <if test="hospitalId !=null and hospitalId !=''"><!-- 医院 -->
            and a.hospital_id = #{hospitalId}
        </if>
        <if test="startTime !=null and startTime !=''"><!-- 时间检索 -->
            and a.create_time &gt;= #{startTime}
        </if>
        <if test="endTime !=null and endTime !=''"><!-- 时间检索 -->
            and a.create_time &lt;= #{endTime}
        </if>
        <if test="officeId !=null and officeId !=''"><!--科室检索 -->
            and a.check_office_id = #{officeId}
        </if>
        <if test="departmentId !=null and departmentId !=''"><!--部门检索 -->
            AND a.check_office_id IN (SELECT office_id FROM hospital_depart_office_asso WHERE department_id=#{departmentId})
        </if>
        <if test="type == 0"><!-- 全部人次 -->
            and 1=1
        </if>
        <if test="type == 1"><!-- 个人人次 -->
            and a.group_id is  null
        </if>
    </select>

    <!--解绑体检卡号-->
    <update id="checkCardRevert" parameterType="String">
        UPDATE patient_item SET check_card_num=NULL ,check_card_type=NULL WHERE check_card_num=#{value}
    </update>

    <!--解绑干预卡号-->
    <update id="treatCardRevert" parameterType="String">
        UPDATE patient_item SET treat_card_status=0,treat_card_num=NULL WHERE treat_card_num=#{value}
    </update>

    <!--是否已检测完成-->
    <select id="isCheckFinished" parameterType="long" resultType="boolean">
        SELECT EXISTS (SELECT  1 FROM patient_check_report WHERE check_status=1 AND patient_item_id=#{value})
    </select>

    <select id="listItemDoneByOffice" parameterType="Long" resultType="int">
        SELECT ifnull(count(1),0)
        FROM patient_item a
        LEFT JOIN patient_check_report b ON a.id=b.patient_item_id
        WHERE a.check_office_id=#{value} AND b.check_status=1
    </select>


    <select id="listMobileDoneByOffice" parameterType="Long" resultType="int">
        SELECT count(1) FROM (
        SELECT ifnull(count(1),0)
        FROM patient_item a
        LEFT JOIN patient_check_report b ON a.id=b.patient_item_id
        WHERE a.check_office_id=#{value} AND b.check_status=1
        GROUP BY a.mobile
        )a
    </select>

    <!--导出用户体检数据，查询基本信息-->
    <select id="findCheckDataList" parameterType="map" resultType="map">
        SELECT
        a.id AS patientItemId,  <!--病人id-->
        a.name AS patientName,  <!--病人名称-->
        b.name AS hospitalName, <!--医院名称-->
        a.check_office_name AS officeName,  <!--科室名称-->
        ifnull(a.group_name,"个体") AS groupName, <!--团体名称-->
        c.industry AS industry, <!--行业-->
        a.department AS department, <!--部门-->
        a.check_package_name AS checkPackageName, <!--套餐名称-->
        a.mobile AS mobile, <!--手机号-->
        CASE a.gender WHEN 1 THEN "男生" WHEN 0 THEN "女生" ELSE "未知" END AS genderName,  <!--性别-->
        a.birthday AS birthday, <!--生日-->
        YEAR(now())-YEAR(a.birthday) AS age, <!--年龄-->
        a.degree AS degree, <!--学历-->
        CASE a.marital_status WHEN 1 THEN "已婚" WHEN 0 THEN "未婚" ELSE "未知" END AS maritalStatusName,  <!--婚姻状况-->
        a.career AS career, <!--职业-->
        a.create_time AS entryTime, <!--录入时间-->
        d.report_time AS reportTime  <!--报告生成时间-->
        <if test="sheetParams!=null and sheetParams.size()>0">
            ,
            <foreach collection="sheetParams" item="sheetParam" separator="," index="index">
                #{sheetParam.sheetInfo.name} AS sheetName${index},
                (SELECT calculate_score FROM patient_check_report_item WHERE patient_item_id=a.id AND check_sheet_id=#{sheetParam.sheetInfo.id}) AS sheetScore${index},
                (SELECT `time` FROM patient_check_report_item WHERE patient_item_id=a.id AND check_sheet_id=#{sheetParam.sheetInfo.id}) AS time${index}
                <if test="sheetParam.factorInfos!=null and (sheetParam.factorInfos).size()>0">
                    ,
                    <foreach collection="sheetParam.factorInfos" item="factorInfo" index="i" separator=",">
                        (SELECT score FROM patient_check_report_factor WHERE patient_item_id=a.id AND sheet_id=#{factorInfo.sheetId} AND `name`=#{factorInfo.factorName} ) AS ${factorInfo.sheetId}${factorInfo.factorName}Score
                    </foreach>
                </if>
            </foreach>
        </if>
        FROM patient_package_asso ppa
        LEFT JOIN patient_item a ON a.id = ppa.patient_item_id
        LEFT JOIN hospital b ON a.hospital_id=b.id
        LEFT JOIN patient_group c ON a.group_id=c.id
        LEFT JOIN patient_check_report d ON a.id=d.patient_item_id
        WHERE d.check_status=1
        <if test="hospitalId!=null">
            AND a.hospital_id=#{hospitalId}
        </if>
        <if test="sheetParams!=null and sheetParams.size()>0">
            AND a.id IN
            (
            SELECT patient_item_id FROM patient_check_report_item WHERE check_sheet_id IN(
            <foreach collection="sheetParams" item="sheetParam" separator="," index="index">
                #{sheetParam.sheetInfo.id}
            </foreach>
            )
            )
        </if>
        <if test="packageId!=null">
            AND ppa.package_id=#{packageId}
        </if>
        <if test="startTime!=null and startTime!=''">
            AND d.report_time&gt;=concat(#{startTime}," 00:00:00")
        </if>
        <if test="endTime!=null and endTime!=''">
            AND d.report_time&lt;=concat(#{endTime}," 23:59:59")
        </if>
    </select>

    <!--获取小组人员数量-->
    <select id="getTeamItemCount" parameterType="com.blue.pem.api.entity.PageCondition" resultType="java.lang.Integer">
        SELECT count(*) FROM patient_item 
        WHERE batch_id = #{batchId} and team_id = #{teamId}
    </select>
    <!--获取小组人员列表-->
    <select id="getTeamPatientList" parameterType="com.blue.pem.api.entity.PageCondition" resultType="com.blue.pem.api.entity.BatchTeamPatientVO">
        SELECT a.id, r.id reportId, a.batch_id batchId, a.team_id teamId, a.name, a.check_card_num cardNumber, a.mobile FROM patient_item a
        LEFT JOIN patient_check_report r ON a.id = r.patient_item_id 
        WHERE batch_id = #{condition.batchId} and team_id = #{condition.teamId} 
        LIMIT #{currentResult}, #{pageSize}
    </select>
    
    <!-- 获取用户历史体检数据 -->
    <select id="getHistoryItem" parameterType="PatientItem" resultMap="patientItemResultMap">
        SELECT * FROM patient_item i 
        LEFT JOIN hospital h on i.hospital_id = h.id  
        WHERE 1=1 
        and i.create_time &lt;= #{createTime}  
        
        <if test="hospitalId != null">
            and i.hospital_id = #{hospitalId}
        </if>
        <if test="memberId == null">
            and i.mobile = #{mobile} 
        </if>
        <if test="memberId != null">
            and i.member_id = #{memberId}
        </if>
        <if test="hospitalId == null">
            and i.hospital_id is null 
        </if>
        <if test="groupId != null">
            and i.group_id = #{groupId}
        </if>
        
    </select>
    
    <!--获取批次人员数量 -->
    <select id="getBatchPatientCount" parameterType="com.blue.pem.api.entity.PageCondition" resultType="java.lang.Integer">
        SELECT count(*) FROM patient_item 
        WHERE batch_id = #{condition.batchId} 
        <if test="condition.searchWord!=null and condition.searchWord != ''">
            AND concat(name, mobile) like concat('%', #{condition.searchWord}, '%')
        </if>
    </select>
    
    <!--获取批次小组列表-->
    <select id="pagingByBatchId" parameterType="com.blue.pem.api.entity.PageCondition" resultMap="patientItemResultMap">
        SELECT * FROM patient_item 
        WHERE batch_id = #{condition.batchId} 
        <if test="condition.searchWord!=null and condition.searchWord != ''">
            AND concat(name, mobile) like concat('%', #{condition.searchWord}, '%')
        </if>
        LIMIT #{currentResult}, #{pageSize}
    </select>
    
</mapper>
















