.newspic {
    display: block;
    overflow: hidden;
}

.newspic img {
    width: 150px;
    height: 100px;
}

.colorblock {
    display: inline-block;
    height: 1em;
    width: 1em;
}

.col-sm-4{
	width: 33.3333%
}

.col-sm-4 input{
	width: 16px;
    height: 16px;
    display: inline-block;
    line-height: 0;
}