<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MenuItemMapper">
	<resultMap type="MenuItem" id="menuItemResultMap">
		<id column="menu_id" property="menuItemId"/>
		<result column="menu_name" property="menuName"/>
		<result column="menu_url" property="menuUrl"/>
		<result column="parent_id" property="parentId"/>
		<result column="menu_order" property="menuOrder"/>
		<result column="menu_icon" property="menuIcon"/>
		<result column="menu_type" property="menuType"/>
		<result column="del_flag" property="delFlag"/>
		<result column="create_user_id" property="createUserId"/>
		<result column="create_time" property="createTime"/>
		<result column="update_user_id" property="updateUserId"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>
	
	<!-- 新增-->
	<insert id="save" parameterType="MenuItem" useGeneratedKeys="true" keyProperty="menuItemId">
		insert into t_menu(
			menu_name,
			menu_url,
			parent_id,
			menu_order,
			menu_icon,
			menu_type,
			create_user_id,
			create_time
		) values (
			#{menuName},
			#{menuUrl},
			#{parentId},
			#{menuOrder},
			#{menuIcon},
			#{menuType},
			#{createUserId},
			#{createTime}
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="java.lang.Long">
		delete from t_menu
		where 
			menu_id = #{value}
	</delete>

	
	<!-- 删除-->
	<update id="deleteLogical" parameterType="java.lang.Long">
		update t_menu set del_flag=1
		where menu_id = #{value}
	</update>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="MenuItem">
		update t_menu
			set 
			<if test="menuName!=null and menuName!=''">
				menu_name = #{menuName},
			</if>
			<if test="menuUrl!=null and menuUrl!=''">
				menu_url = #{menuUrl},
			</if>
			<if test="parentId!=null">
				parent_id = #{parentId},
			</if>
			<if test="menuOrder!=null">
				menu_order = #{menuOrder},
			</if>
			<if test="menuIcon!=null and menuIcon!=''">
				menu_icon = #{menuIcon},
			</if>
			<if test="menuType!=null">
				menu_type = #{menuType},
			</if>
			<if test="updateUserId!=null and updateUserId!=''">
				update_user_id = #{updateUserId},
			</if>
			<if test="updateTime!=null and updateTime!=''">
				update_time = #{updateTime},
			</if>
			menu_id = menu_id
			where 
				menu_id = #{menuItemId}
	</update>
	
	
	<!-- 通过id获取数据 -->
	<select id="findById" parameterType="java.lang.Long" resultMap="menuItemResultMap">
		select * from 
			t_menu
		where 
			menu_id = #{value}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultMap="menuItemResultMap">
		select * from 
				t_menu a where del_flag=0 
		<if test="pd.query_time_start!=null and pd.query_time_start!=''"><!-- 时间检索 -->
			and a.create_time &gt;= #{pd.query_time_start}
		</if>
		<if test="pd.query_time_end!=null and pd.query_time_end!=''"><!-- 时间检索 -->
			and a.create_time &lt;= #{pd.query_time_end}
		</if>	
		<if test="pd.query_key!=null and pd.query_key!=''"><!-- 关键字检索 -->
			and a.name like concat('%',#{pd.query_key},'%')
		</if>
		order by a.create_time desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="String" resultMap="menuItemResultMap">
		select * from t_menu a
	</select>
	
	<!-- 批量删除 -->
	<update id="deleteLogicalBatch" parameterType="String">
		update t_menu set del_flag=1  
		where 
			menu_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</update>
	
</mapper>