<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="XiaoshanPatientInfoMapper">
	<resultMap type="XiaoshanPatientInfo" id="xiaoshanPatientInfoResultMap">
		<id column="id" property="id"/>
		<result column="pid" property="pid"/>
		<result column="insuranceNo" property="insuranceNo"/>
		<result column="patientName" property="patientName"/>
		<result column="sex" property="sex"/>
		<result column="dateOfBirth" property="dateOfBirth"/>
		<result column="marriageStatus" property="marriageStatus"/>
		<result column="occupation" property="occupation"/>
		<result column="formalSchooling" property="formalSchooling"/>
		<result column="nativePlace" property="nativePlace"/>
		<result column="certType" property="certType"/>
		<result column="certNo" property="certNo"/>
		<result column="patientClass" property="patientClass"/>
		<result column="company" property="company"/>
		<result column="publicExpenseNo" property="publicExpenseNo"/>
		<result column="contractUnit" property="contractUnit"/>
		<result column="businessAddress" property="businessAddress"/>
		<result column="businessPostCode" property="businessPostCode"/>
		<result column="businessPhone" property="businessPhone"/>
		<result column="homeAddressCode" property="homeAddressCode"/>
		<result column="homeAddress" property="homeAddress"/>
		<result column="mobilePhone" property="mobilePhone"/>
		<result column="operator" property="operator"/>
		<result column="operatorTime" property="operatorTime"/>
		<result column="available" property="available"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_time" property="createTime"/>
	</resultMap>
	
	<!-- 新增-->
	<insert id="save" parameterType="XiaoshanPatientInfo" useGeneratedKeys="true" keyProperty="id">
		insert into xiaoshan_patient_info(
        pid,
        insuranceNo,
        patientName,
        sex,
        dateOfBirth,
        marriageStatus,
        occupation,
        formalSchooling,
        nativePlace,
        certType,
        certNo,
        patientClass,
        company,
        publicExpenseNo,
        contractUnit,
        businessAddress,
        businessPostCode,
        businessPhone,
        homeAddressCode,
        homeAddress,
        mobilePhone,
        operator,
        operatorTime,
        available,
        create_user_id,
        create_time
		) values (
            #{pid},
            #{insuranceNo},
            #{patientName},
            #{sex},
            #{dateOfBirth},
            #{marriageStatus},
            #{occupation},
            #{formalSchooling},
            #{nativePlace},
            #{certType},
            #{certNo},
            #{patientClass},
            #{company},
            #{publicExpenseNo},
            #{contractUnit},
            #{businessAddress},
            #{businessPostCode},
            #{businessPhone},
            #{homeAddressCode},
            #{homeAddress},
            #{mobilePhone},
            #{operator},
            #{operatorTime},
            #{available},
        #{createUserId},
        #{createTime}
		)
	</insert>

    <!--批量新增-->
    <insert id="batchSave" parameterType="java.util.List">
        insert into xiaoshan_patient_info(
            pid,
            insuranceNo,
            patientName,
            sex,
            dateOfBirth,
            marriageStatus,
            occupation,
            formalSchooling,
            nativePlace,
            certType,
            certNo,
            patientClass,
            company,
            publicExpenseNo,
            contractUnit,
            businessAddress,
            businessPostCode,
            businessPhone,
            homeAddressCode,
            homeAddress,
            mobilePhone,
            operator,
            operatorTime,
            available,
            create_user_id,
            create_time
        )
        values
        <foreach collection ="list" item="item" index= "index" separator =",">
        (
            #{item.pid},
            #{item.insuranceNo},
            #{item.patientName},
            #{item.sex},
            #{item.dateOfBirth},
            #{item.marriageStatus},
            #{item.occupation},
            #{item.formalSchooling},
            #{item.nativePlace},
            #{item.certType},
            #{item.certNo},
            #{item.patientClass},
            #{item.company},
            #{item.publicExpenseNo},
            #{item.contractUnit},
            #{item.businessAddress},
            #{item.businessPostCode},
            #{item.businessPhone},
            #{item.homeAddressCode},
            #{item.homeAddress},
            #{item.mobilePhone},
            #{item.operator},
            #{item.operatorTime},
            #{item.available},
            #{item.createUserId},
            #{item.createTime}
        )
        </foreach>
    </insert>

	<!-- 删除-->
	<update id="delete" parameterType="java.lang.Long">
		delete from xiaoshan_patient_info
		where 
			id = #{value}
	</update>

	<!-- 修改 -->
	<update id="update" parameterType="XiaoshanPatientInfo">
		update xiaoshan_patient_info
			set 
			<if test="pid!=null and pid!=''">
				pid = #{pid},
			</if>
			<if test="insuranceNo!=null and insuranceNo!=''">
				insuranceNo = #{insuranceNo},
			</if>
			<if test="patientName!=null and patientName!=''">
				patientName = #{patientName},
			</if>
			<if test="sex!=null and sex!=''">
				sex = #{sex},
			</if>
			<if test="dateOfBirth!=null and dateOfBirth!=''">
				dateOfBirth = #{dateOfBirth},
			</if>
			<if test="marriageStatus!=null and marriageStatus!=''">
				marriageStatus = #{marriageStatus},
			</if>
			<if test="occupation!=null and occupation!=''">
				occupation = #{occupation},
			</if>
			<if test="formalSchooling!=null and formalSchooling!=''">
				formalSchooling = #{formalSchooling},
			</if>
			<if test="nativePlace!=null and nativePlace!=''">
				nativePlace = #{nativePlace},
			</if>
			<if test="certType!=null and certType!=''">
				certType = #{certType},
			</if>
			<if test="certNo!=null and certNo!=''">
				certNo = #{certNo},
			</if>
			<if test="patientClass!=null and patientClass!=''">
				patientClass = #{patientClass},
			</if>
			<if test="company!=null and company!=''">
				company = #{company},
			</if>
			<if test="publicExpenseNo!=null and publicExpenseNo!=''">
				publicExpenseNo = #{publicExpenseNo},
			</if>
			<if test="contractUnit!=null and contractUnit!=''">
				contractUnit = #{contractUnit},
			</if>
			<if test="businessAddress!=null and businessAddress!=''">
				businessAddress = #{businessAddress},
			</if>
			<if test="businessPostCode!=null and businessPostCode!=''">
				businessPostCode = #{businessPostCode},
			</if>
			<if test="businessPhone!=null and businessPhone!=''">
				businessPhone = #{businessPhone},
			</if>
			<if test="homeAddressCode!=null and homeAddressCode!=''">
				homeAddressCode = #{homeAddressCode},
			</if>
			<if test="homeAddress!=null and homeAddress!=''">
				homeAddress = #{homeAddress},
			</if>
			<if test="mobilePhone!=null and mobilePhone!=''">
				mobilePhone = #{mobilePhone},
			</if>
			<if test="operator!=null and operator!=''">
				operator = #{operator},
			</if>
			<if test="operatorTime!=null and operatorTime!=''">
				operatorTime = #{operatorTime},
			</if>
			<if test="available!=null and available!=''">
				available = #{available},
			</if>
			id = id
			where 
				id = #{id}
	</update>
	
	
	<!-- 通过id获取数据 -->
	<select id="findById" parameterType="java.lang.Long" resultMap="xiaoshanPatientInfoResultMap">
		select * from 
			xiaoshan_patient_info
		where 
			id = #{value}
	</select>
	
	<!-- 条件查询 -->
	<select id="findByCondition" parameterType="XiaoshanPatientInfo" resultMap="xiaoshanPatientInfoResultMap">
		select * from 
			xiaoshan_patient_info where 1=1
			<if test="createUserId!=null and createUserId!=''">
				and create_user_id = #{createUserId}
			</if>
			<if test="pid!=null and pid!=''">
				and pid = #{pid}
			</if>
			<if test="insuranceNo!=null and insuranceNo!=''">
				and insuranceNo = #{insuranceNo}
			</if>
			<if test="patientName!=null and patientName!=''">
				and patientName = #{patientName}
			</if>
			<if test="sex!=null and sex!=''">
				and sex = #{sex}
			</if>
			<if test="dateOfBirth!=null and dateOfBirth!=''">
				and dateOfBirth = #{dateOfBirth}
			</if>
			<if test="marriageStatus!=null and marriageStatus!=''">
				and marriageStatus = #{marriageStatus}
			</if>
			<if test="occupation!=null and occupation!=''">
				and occupation = #{occupation}
			</if>
			<if test="formalSchooling!=null and formalSchooling!=''">
				and formalSchooling = #{formalSchooling}
			</if>
			<if test="nativePlace!=null and nativePlace!=''">
				and nativePlace = #{nativePlace}
			</if>
			<if test="certType!=null and certType!=''">
				and certType = #{certType}
			</if>
			<if test="certNo!=null and certNo!=''">
				and certNo = #{certNo}
			</if>
			<if test="patientClass!=null and patientClass!=''">
				and patientClass = #{patientClass}
			</if>
			<if test="company!=null and company!=''">
				and company = #{company}
			</if>
			<if test="publicExpenseNo!=null and publicExpenseNo!=''">
				and publicExpenseNo = #{publicExpenseNo}
			</if>
			<if test="contractUnit!=null and contractUnit!=''">
				and contractUnit = #{contractUnit}
			</if>
			<if test="businessAddress!=null and businessAddress!=''">
				and businessAddress = #{businessAddress}
			</if>
			<if test="businessPostCode!=null and businessPostCode!=''">
				and businessPostCode = #{businessPostCode}
			</if>
			<if test="businessPhone!=null and businessPhone!=''">
				and businessPhone = #{businessPhone}
			</if>
			<if test="homeAddressCode!=null and homeAddressCode!=''">
				and homeAddressCode = #{homeAddressCode}
			</if>
			<if test="homeAddress!=null and homeAddress!=''">
				and homeAddress = #{homeAddress}
			</if>
			<if test="mobilePhone!=null and mobilePhone!=''">
				and mobilePhone = #{mobilePhone}
			</if>
			<if test="operator!=null and operator!=''">
				and operator = #{operator}
			</if>
			<if test="operatorTime!=null and operatorTime!=''">
				and operatorTime = #{operatorTime}
			</if>
			<if test="available!=null and available!=''">
				and available = #{available}
			</if>
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultMap="xiaoshanPatientInfoResultMap">
		select * from 
				xiaoshan_patient_info a where 1=1
		<if test="pd.query_time_start!=null and pd.query_time_start!=''"><!-- 时间检索 -->
			and a.create_time &gt;= #{pd.query_time_start}
		</if>
		<if test="pd.query_time_end!=null and pd.query_time_end!=''"><!-- 时间检索 -->
			and a.create_time &lt;= #{pd.query_time_end}
		</if>	
		<if test="pd.query_key!=null and pd.query_key!=''"><!-- 关键字检索 -->
			and a.name like concat('%',#{pd.query_key},'%')
		</if>
			order by a.create_time desc	
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="String" resultMap="xiaoshanPatientInfoResultMap">
		select * from xiaoshan_patient_info a
	</select>
	
	<!-- 批量删除 -->
	<update id="deleteBatch" parameterType="String">
		delete from xiaoshan_patient_info
		where 
			id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</update>
	
</mapper>