<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HospitalDepartmentMapper">
	<resultMap type="HospitalDepartment" id="hospitalDepartmentResultMap">
		<id column="id" property="id"/>
		<result column="hospital_id" property="hospitalId"/>
		<result column="name" property="name"/>
		<result column="account_name" property="accountName"/>
		<result column="docking_name" property="dockingName"/>
		<result column="docking_phone" property="dockingPhone"/>
		<result column="create_user_id" property="createUserId"/>
		<result column="create_time" property="createTime"/>
		<result column="update_user_id" property="updateUserId"/>
		<result column="update_time" property="updateTime"/>
		<result column="hospital_name" property="hospitalName"/>
	</resultMap>
	
	<!-- 新增-->
	<insert id="save" parameterType="HospitalDepartment" useGeneratedKeys="true" keyProperty="id">
		insert into hospital_department(
			hospital_id,
			name,
			account_name,
			docking_name,
			docking_phone,
			create_user_id,
			create_time
		) values (
			#{hospitalId},
			#{name},
			#{accountName},
			#{dockingName},
			#{dockingPhone},
			#{createUserId},
			#{createTime}
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="java.lang.Long">
		delete from hospital_department
		where 
			id = #{value}
	</delete>

	<!-- 修改 -->
	<update id="update" parameterType="HospitalDepartment">
		update hospital_department
			set 
			<if test="hospitalId!=null">
				hospital_id = #{hospitalId},
			</if>
			<if test="name!=null and name!=''">
				name = #{name},
			</if>
			<if test="accountName!=null and accountName!=''">
				account_name = #{accountName},
			</if>
			<if test="dockingName!=null and dockingName!=''">
				docking_name = #{dockingName},
			</if>
			<if test="dockingPhone!=null and dockingPhone!=''">
				docking_phone = #{dockingPhone},
			</if>
			id = id
			where 
				id = #{id}
	</update>
	
	
	<!-- 通过id获取数据 -->
	<select id="findById" parameterType="java.lang.Long" resultMap="hospitalDepartmentResultMap">
		select * from 
			hospital_department
		where 
			id = #{value}
	</select>
	
	<!-- 条件查询 -->
	<select id="findByCondition" parameterType="HospitalDepartment" resultMap="hospitalDepartmentResultMap">
		select * from 
			hospital_department where 1=1
			<if test="createUserId!=null and createUserId!=''">
				and create_user_id = #{createUserId}
			</if>
			<if test="hospitalId!=null">
				and hospital_id = #{hospitalId}
			</if>
			<if test="name!=null and name!=''">
				and name = #{name}
			</if>
			<if test="accountName!=null and accountName!=''">
				and account_name = #{accountName}
			</if>
			<if test="dockingName!=null and dockingName!=''">
				and docking_name = #{dockingName}
			</if>
			<if test="dockingPhone!=null and dockingPhone!=''">
				and docking_phone = #{dockingPhone}
			</if>
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultMap="hospitalDepartmentResultMap">
		select a.*,b.name 'hospital_name'  from 
				hospital_department a 
		left join 
				hospital b
		on b.id = a.hospital_id		
        where 1=1
		<if test="pd.query_time_start!=null and pd.query_time_start!=''"><!-- 时间检索 -->
			and a.create_time &gt;= #{pd.query_time_start}
		</if>
		<if test="pd.query_time_end!=null and pd.query_time_end!=''"><!-- 时间检索 -->
			and a.create_time &lt;= #{pd.query_time_end}
		</if>
		<if test="pd.name!=null and pd.name!=''"><!-- 关键字检索 -->
			and b.name like concat('%',#{pd.name},'%')
		</if>
		<if test="pd.hospitalId!=null and pd.hospitalId!=''"><!-- 关键字检索 -->
			and a.hospital_id =#{pd.hospitalId}
		</if>
			order by a.create_time desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="String" resultMap="hospitalDepartmentResultMap">
		select * from hospital_department a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteBatch" parameterType="String">
		delete from hospital_department
		where 
			id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>

    <!--查询医院所有科室，并标记是否关联某科室-->
    <select id="findOfficesSelectFlag" parameterType="HospitalDepartment" resultType="map">
        SELECT a.id ,a.name,
        a.id IN (SELECT office_id FROM hospital_depart_office_asso WHERE department_id =#{id}) AS selectFlag
        FROM hospital_office a WHERE hospital_id=#{hospitalId}
    </select>

</mapper>