<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HospitalGroupDepartmentMapper">
	<resultMap type="HospitalGroupDepartment" id="hospitalGroupDepartmentResultMap">
		<id column="id" property="id"/>
		<result column="group_id" property="groupId"/>
		<result column="name" property="name"/>
		<result column="account" property="account"/>
		<result column="password" property="password"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_time" property="createTime"/>
	</resultMap>
	
	<!-- 新增-->
	<insert id="save" parameterType="HospitalGroupDepartment" useGeneratedKeys="true" keyProperty="id">
		insert into hospital_group_department(
        group_id,
        name,
        account,
        password,
        create_user_id,
        create_time
		) values (
            #{groupId},
            #{name},
            #{account},
            #{password},
        #{createUserId},
        #{createTime}
		)
	</insert>

    <!--批量新增-->
    <insert id="batchSave" parameterType="list">
        insert into hospital_group_department(
            group_id,
            name,
            account,
            password,
            create_user_id,
            create_time
        )
        values
        <foreach collection ="list" item="item" index= "index" separator =",">
        (
            #{item.group_id},
            #{item.name},
            #{item.account},
            #{item.password},
            #{item.createUserId},
            #{item.createTime}
        )
        </foreach>
    </insert>

	<!-- 删除-->
	<update id="delete" parameterType="java.lang.Long">
		delete from hospital_group_department
		where 
			id = #{value}
	</update>

	<!-- 修改 -->
	<update id="update" parameterType="HospitalGroupDepartment">
		update hospital_group_department
			set 
			<if test="groupId!=null">
				group_id = #{groupId},
			</if>
			<if test="name!=null and name!=''">
				name = #{name},
			</if>
			<if test="account!=null and account!=''">
				account = #{account},
			</if>
			<if test="password!=null and password!=''">
				password = #{password},
			</if>
			id = id
			where 
				id = #{id}
	</update>
	
	
	<!-- 通过id获取数据 -->
	<select id="findById" parameterType="java.lang.Long" resultMap="hospitalGroupDepartmentResultMap">
		select * from 
			hospital_group_department
		where 
			id = #{value}
	</select>
	
	<!-- 条件查询 -->
	<select id="findByCondition" parameterType="HospitalGroupDepartment" resultMap="hospitalGroupDepartmentResultMap">
		select a.*, g.name groupName from 
			hospital_group_department a 
			left join patient_group g on a.group_id = g.id 
			where 1=1
			<if test="createUserId!=null and createUserId!=''">
				and a.create_user_id = #{createUserId}
			</if>
			<if test="groupId!=null">
				and a.group_id = #{groupId}
			</if>
			<if test="name!=null and name!=''">
				and a.name = #{name}
			</if>
			<if test="account!=null and account!=''">
				and a.account = #{account}
			</if>
			<if test="password!=null and password!=''">
				and a.password = #{password}
			</if>
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultMap="hospitalGroupDepartmentResultMap">
		select * from 
				hospital_group_department a where 1=1
		<if test="pd.query_time_start!=null and pd.query_time_start!=''"><!-- 时间检索 -->
			and a.create_time &gt;= #{pd.query_time_start}
		</if>
		<if test="pd.query_time_end!=null and pd.query_time_end!=''"><!-- 时间检索 -->
			and a.create_time &lt;= #{pd.query_time_end}
		</if>	
		<if test="pd.query_key!=null and pd.query_key!=''"><!-- 关键字检索 -->
			and a.name like concat('%',#{pd.query_key},'%')
		</if>
			order by a.create_time desc	
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="String" resultMap="hospitalGroupDepartmentResultMap">
		select * from hospital_group_department a
	</select>
	
	<!-- 批量删除 -->
	<update id="deleteBatch" parameterType="String">
		delete from hospital_group_department
		where 
			id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</update>
	
	<!-- 获取批次部门列表 -->
	<select id="listByBatchId" parameterType="java.lang.Long" resultType="com.blue.pem.api.entity.GroupDepartmentDO">
		select g.id groupId, g.name groupName, a.id departmentId, b.batch_id batchId, a.name from 
		hospital_group_department a 
		left join hospital_batch_department_asso b on a.id = b.department_id 
		left join patient_group g on a.group_id = g.id 
		where b.batch_id = #{batchId} 
		group by a.id
	</select>
	
</mapper>