<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HospitalGroupTeamMapper">
	<resultMap type="HospitalGroupTeam" id="hospitalGroupTeamResultMap">
		<id column="id" property="id"/>
		<result column="department_id" property="departmentId"/>
		<result column="name" property="name"/>
		<result column="account" property="account"/>
		<result column="password" property="password"/>
		<result column="peopleCount" property="peopleCount"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_time" property="createTime"/>
	</resultMap>
	
	<!-- 新增-->
	<insert id="save" parameterType="HospitalGroupTeam" useGeneratedKeys="true" keyProperty="id">
		insert into hospital_group_team(
        department_id,
        name,
        account,
        password,
        create_user_id,
        create_time
		) values (
            #{departmentId},
            #{name},
            #{account},
            #{password},
        #{createUserId},
        #{createTime}
		)
	</insert>

    <!--批量新增-->
    <insert id="batchSave" parameterType="list">
        insert into hospital_group_team(
            department_id,
            name,
            account,
            password,
            create_user_id,
            create_time
        )
        values
        <foreach collection ="list" item="item" index= "index" separator =",">
        (
            #{item.department_id},
            #{item.name},
            #{item.account},
            #{item.password},
            #{item.createUserId},
            #{item.createTime}
        )
        </foreach>
    </insert>

	<!-- 删除-->
	<update id="delete" parameterType="java.lang.Long">
		delete from hospital_group_team
		where 
			id = #{value}
	</update>

	<!-- 修改 -->
	<update id="update" parameterType="HospitalGroupTeam">
		update hospital_group_team
			set 
			<if test="departmentId!=null">
				department_id = #{departmentId},
			</if>
			<if test="name!=null and name!=''">
				name = #{name},
			</if>
			<if test="account!=null and account!=''">
				account = #{account},
			</if>
			<if test="password!=null and password!=''">
				password = #{password},
			</if>
			id = id
			where 
				id = #{id}
	</update>
	
	
	<!-- 通过id获取数据 -->
	<select id="findById" parameterType="java.lang.Long" resultMap="hospitalGroupTeamResultMap">
		select * from 
			hospital_group_team
		where 
			id = #{value}
	</select>
	
	<!-- 条件查询 -->
	<select id="findByCondition" parameterType="HospitalGroupTeam" resultMap="hospitalGroupTeamResultMap">
		select a.*, d.name departmentName from 
			hospital_group_team a 
			left join hospital_group_department d on a.department_id = d.id 
			where 1=1
			<if test="createUserId!=null and createUserId!=''">
				and a.create_user_id = #{createUserId}
			</if>
			<if test="departmentId!=null">
				and a.department_id = #{departmentId}
			</if>
			<if test="name!=null and name!=''">
				and a.name = #{name}
			</if>
			<if test="account!=null and account!=''">
				and a.account = #{account}
			</if>
			<if test="password!=null and password!=''">
				and a.password = #{password}
			</if>
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultMap="hospitalGroupTeamResultMap">
		select * from 
				hospital_group_team a where 1=1
		<if test="pd.query_time_start!=null and pd.query_time_start!=''"><!-- 时间检索 -->
			and a.create_time &gt;= #{pd.query_time_start}
		</if>
		<if test="pd.query_time_end!=null and pd.query_time_end!=''"><!-- 时间检索 -->
			and a.create_time &lt;= #{pd.query_time_end}
		</if>	
		<if test="pd.query_key!=null and pd.query_key!=''"><!-- 关键字检索 -->
			and a.name like concat('%',#{pd.query_key},'%')
		</if>
			order by a.create_time desc	
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="String" resultMap="hospitalGroupTeamResultMap">
		select * from hospital_group_team a
	</select>
	
	<!-- 批量删除 -->
	<update id="deleteBatch" parameterType="String">
		delete from hospital_group_team
		where 
			id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</update>
	
	<!-- 获取批次部门小组列表 -->
	<select id="listByDepartmentVO" parameterType="com.blue.pem.api.entity.ReportSearchConditionDO" resultType="com.blue.pem.api.entity.TeamVO">
		select a.id teamId, b.batch_id batchId, hb.entry_mode entryMode, hb.check_card_type checkCardType, a.name, b.people_count peopleCount 
		from hospital_group_team a 
		left join hospital_batch_department_asso b on a.id = b.team_id 
		left join hospital_batch hb on b.batch_id = hb.id 
		where b.batch_id = #{batchId} and b.department_id = #{departmentId}
		
	</select>
	
	<!-- 获取部门所有小组 -->
	<select id="listByDepartmentId" parameterType="java.lang.Long" resultMap="hospitalGroupTeamResultMap">
		select a.*, c.peopleCount from hospital_group_team a 
		left join (
		    select count(i.id) peopleCount, i.team_id from patient_item i group by i.team_id) c on a.id = c.team_id 
		where a.department_id = #{departmentId}
	</select>
	
</mapper>