<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HospitalAuditDoctorMapper">
	<resultMap type="HospitalAuditDoctor" id="hospitalAuditDoctorResultMap">
		<id column="id" property="id"/>
		<result column="hospital_id" property="hospitalId"/>
		<result column="name" property="name"/>
		<result column="account_name" property="accountName"/>
		<result column="sign_image_url" property="signImageUrl"/>
		<result column="create_user_id" property="createUserId"/>
		<result column="create_time" property="createTime"/>
		<result column="update_user_id" property="updateUserId"/>
		<result column="update_time" property="updateTime"/>
		<result column="hospital_name" property="hospitalName"/>
	</resultMap>
	
	<!-- 新增-->
	<insert id="save" parameterType="HospitalAuditDoctor" useGeneratedKeys="true" keyProperty="id">
		insert into hospital_audit_doctor(
			hospital_id,
			name,
			account_name,
			sign_image_url,
			create_user_id,
			create_time
		) values (
			#{hospitalId},
			#{name},
			#{accountName},
			#{signImageUrl},
			#{createUserId},
			#{createTime}
		)
	</insert>
	
	<!-- 删除-->
	<delete id="deleteLogical" parameterType="java.lang.Long">
		delete from hospital_audit_doctor
		where 
			id = #{value}
	</delete>

	<!-- 修改 -->
	<update id="update" parameterType="HospitalAuditDoctor">
		update hospital_audit_doctor
			set 
			<if test="hospitalId!=null">
				hospital_id = #{hospitalId},
			</if>
			<if test="name!=null and name!=''">
				name = #{name},
			</if>
			<if test="accountName!=null and accountName!=''">
				account_name = #{accountName},
			</if>
			<if test="signImageUrl!=null and signImageUrl!=''">
				sign_image_url = #{signImageUrl},
			</if>
			id = id
			where 
				id = #{id}
	</update>
	
	
	<!-- 通过id获取数据 -->
	<select id="findById" parameterType="java.lang.Long" resultMap="hospitalAuditDoctorResultMap">
		select * from 
			hospital_audit_doctor
		where 
			id = #{value}
	</select>
	
	<!-- 条件查询 -->
	<select id="findByCondition" parameterType="HospitalAuditDoctor" resultMap="hospitalAuditDoctorResultMap">
		select * from 
			hospital_audit_doctor where 1=1 
			<if test="createUserId!=null and createUserId!=''">
				and create_user_id = #{createUserId}
			</if>
			<if test="hospitalId!=null">
				and hospital_id = #{hospitalId}
			</if>
			<if test="name!=null and name!=''">
				and name = #{name}
			</if>
			<if test="accountName!=null and accountName!=''">
				and account_name = #{accountName}
			</if>
			<if test="signImageUrl!=null and signImageUrl!=''">
				and sign_image_url = #{signImageUrl}
			</if>
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultMap="hospitalAuditDoctorResultMap">
		select a.*,b.name 'hospital_name'  from 
				hospital_audit_doctor a 
		left join 
				hospital b
		on b.id = a.hospital_id		
				where 1=1	
		<if test="pd.query_type!=null and pd.query_type!=''"><!-- 时间检索 -->
			and b.type = #{pd.query_type}
		</if>				
		<if test="pd.query_time_start!=null and pd.query_time_start!=''"><!-- 时间检索 -->
			and a.create_time &gt;= #{pd.query_time_start}
		</if>
		<if test="pd.query_time_end!=null and pd.query_time_end!=''"><!-- 时间检索 -->
			and a.create_time &lt;= #{pd.query_time_end}
		</if>
			<if test="pd.name!=null and pd.name!=''"><!-- 关键字检索 -->
				and 
				(
					a.name like concat('%',#{pd.name},'%')
					or
					b.name like concat('%',#{pd.name},'%')
				)
			</if>
			order by a.create_time desc	
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="String" resultMap="hospitalAuditDoctorResultMap">
		select * from hospital_audit_doctor a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteLogicalBatch" parameterType="String">
		delete from hospital_audit_doctor
		where 
			id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
</mapper>