<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HospitalBatchMapper">
	<resultMap type="HospitalBatch" id="hospitalBatchResultMap">
		<id column="id" property="id"/>
		<result column="group_id" property="groupId"/>
		<result column="number" property="number"/>
		<result column="check_card_type" property="checkCardType"/>
		<result column="remark" property="remark"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_time" property="createTime"/>
	</resultMap>
	
	<!-- 新增-->
	<insert id="save" parameterType="HospitalBatch" useGeneratedKeys="true" keyProperty="id">
		insert into hospital_batch(
        group_id,
        number,
        status,
        check_card_type,
        entry_mode,
        remark,
        create_user_id,
        create_time
		) values (
            #{groupId},
            #{number},
            #{status},
            #{checkCardType},
            #{entryMode},
            #{remark},
        #{createUserId},
        #{createTime}
		)
	</insert>

    <!--批量新增-->
    <insert id="batchSave" parameterType="list">
        insert into hospital_batch(
            group_id,
            number,
            status,
            check_card_type,
            entry_mode,
            remark,
            create_user_id,
            create_time
        )
        values
        <foreach collection ="list" item="item" index= "index" separator =",">
        (
            #{item.group_id},
            #{item.number},
            #{status},
            #{checkCardType},
            #{entryMode},
            #{item.remark},
            #{item.createUserId},
            #{item.createTime}
        )
        </foreach>
    </insert>

	<!-- 删除-->
	<update id="delete" parameterType="java.lang.Long">
		delete from hospital_batch
		where 
			id = #{value}
	</update>

	<!-- 修改 -->
	<update id="update" parameterType="HospitalBatch">
		update hospital_batch
			set 
			<if test="groupId!=null">
				group_id = #{groupId},
			</if>
			<if test="remark!=null and remark!=''">
				remark = #{remark},
			</if>
			<if test="number!=null and number!=''">
				number = #{number},
			</if>
			<if test="status!=null">
				status = #{status},
			</if>
			<if test="checkCardType!=null">
				check_card_type = #{checkCardType},
			</if>
			<if test="entryMode!=null">
				entry_mode = #{entryMode},
			</if>
			id = id
			where 
				id = #{id}
	</update>
	
	
	<!-- 通过id获取数据 -->
	<select id="findById" parameterType="java.lang.Long" resultMap="hospitalBatchResultMap">
		select * from 
			hospital_batch
		where 
			id = #{value}
	</select>
	
	<!-- 条件查询 -->
	<select id="findByCondition" parameterType="HospitalBatch" resultMap="hospitalBatchResultMap">
		select * from 
			hospital_batch where 1=1
			<if test="createUserId!=null and createUserId!=''">
				and create_user_id = #{createUserId}
			</if>
			<if test="groupId!=null">
				and group_id = #{groupId}
			</if>
			<if test="number!=null and number!=''">
				and number = #{number}
			</if>
			<if test="status!=null ">
				and status = #{status}
			</if>
			<if test="remark!=null and remark!=''">
				and remark = #{remark}
			</if>
			<if test="checkCardType!=null">
				and check_card_type = #{checkCardType}
			</if>
			<if test="entryMode!=null">
				and entry_mode = #{entryMode}
			</if>
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultMap="hospitalBatchResultMap">
		select * from 
				hospital_batch a where 1=1
		<if test="pd.query_time_start!=null and pd.query_time_start!=''"><!-- 时间检索 -->
			and a.create_time &gt;= #{pd.query_time_start}
		</if>
		<if test="pd.query_time_end!=null and pd.query_time_end!=''"><!-- 时间检索 -->
			and a.create_time &lt;= #{pd.query_time_end}
		</if>	
		<if test="pd.query_key!=null and pd.query_key!=''"><!-- 关键字检索 -->
			and a.name like concat('%',#{pd.query_key},'%')
		</if>
			order by a.create_time desc	
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="String" resultMap="hospitalBatchResultMap">
		select * from hospital_batch a
	</select>
	
	<!-- 批量删除 -->
	<update id="deleteBatch" parameterType="String">
		delete from hospital_batch
		where 
			id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</update>
	
	<!-- 运营商获取团体批次数量 -->
    <select id="getBatchCount" parameterType="java.lang.Long" resultType="java.lang.Integer">
        select count(*) from hospital_batch a 
        where a.group_id = #{condition.groupId} 
    </select>
    
    <!-- 运营商获取团体批次数量 -->
    <select id="getBatchCountByCondition" parameterType="com.blue.pem.api.entity.PageCondition" resultType="java.lang.Integer">
        select count(*) from hospital_batch a 
        left join hospital_batch_department_asso da on a.id = da.batch_id
        where a.group_id = #{condition.groupId} 
        <if test="condition.keyword!=null and condition.keyword!=''">
				and a.number like concat('%', #{condition.keyword}, '%')
		</if>
		<if test="condition.departmentId!=null">
				and da.department_id = #{condition.departmentId}
		</if>
		<if test="condition.teamId!=null">
				and da.team_id = #{condition.teamId}
		</if>
    </select>
    
	<!-- 运营商获取团体批次列表 -->
    <select id="pagingByCondition" parameterType="com.blue.pem.api.entity.PageCondition" resultType="com.blue.pem.api.entity.BatchVO">
        select a.id batchId, a.group_id groupId, a.status, a.number, a.check_card_type checkCardType, a.entry_mode entryMode, a.create_time createTime 
        from hospital_batch a 
        left join hospital_batch_department_asso da on a.id = da.batch_id 
        where a.group_id = #{condition.groupId} 
        <if test="condition.keyword!=null and condition.keyword!=''">
				and a.number like concat('%', #{condition.keyword}, '%')
		</if>
		<if test="condition.departmentId!=null">
				and da.department_id = #{condition.departmentId}
		</if>
		<if test="condition.teamId!=null">
				and da.team_id = #{condition.teamId}
		</if>
		group by a.id
		order by a.create_time desc 
		limit #{currentResult}, #{pageSize} 
    </select> 
	
</mapper>