<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CheckPackageMapper">
	<resultMap type="CheckPackage" id="checkPackageResultMap">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="price" property="price"/>
		<result column="hospital_id" property="hospitalId"/>
		<result column="office_id" property="officeId"/>
		<result column="doctor_id" property="doctorId"/>
		<result column="root" property="root"/>
		<result column="type_id" property="typeId"/>
		<result column="description" property="description"/>
		<result column="on_sold" property="onSold"/>
		<result column="create_user_id" property="createUserId"/>
		<result column="create_time" property="createTime"/>
		<result column="update_user_id" property="updateUserId"/>
		<result column="update_time" property="updateTime"/>
		<result column="typename" property="typeName"/>
		<result column="doctorname" property="doctorName"/>
	</resultMap>
	
	<!-- 新增-->
	<insert id="save" parameterType="CheckPackage" useGeneratedKeys="true" keyProperty="id">
		insert into check_package(
			name,
			price,
			office_id,
			hospital_id,
			doctor_id,
			root,
			type_id,
			description,
			on_sold,
			create_user_id,
			create_time
		) values (
			#{name},
			#{price},
			#{officeId},
			#{hospitalId},
			#{doctorId},
			#{root},
			#{typeId},
			#{description},
			#{onSold},
			#{createUserId},
			#{createTime}
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="java.lang.Long">
		delete from check_package
		where 
			id = #{value}
	</delete>

    <!-- 删除-->
    <delete id="deleteLogicalBatch" parameterType="java.lang.Long">
        delete from check_package
        where
        id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

	<!-- 修改 -->
	<update id="update" parameterType="CheckPackage">
		update check_package
			set 
			<if test="officeId != null ">
                office_id = #{officeId},
			</if>
			<if test="hospitalId != null ">
                hospital_id = #{hospitalId},
			</if>
			<if test="doctorId != null ">
                doctor_id = #{doctorId},
			</if>
			<if test="root != null ">
                root = #{root},
			</if>
			<if test="typeId != null ">
                type_id = #{typeId},
			</if>
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="price != null">
				price = #{price},
			</if>
			<if test="description != null and description != ''">
				description = #{description},
			</if>
			<if test="onSold != null">
				on_sold = #{onSold},
			</if>
			id = id
			where 
				id = #{id}
	</update>
	
	
	<!-- 通过id获取数据 -->
	<select id="findById" parameterType="java.lang.Long" resultMap="checkPackageResultMap">
		select * from 
			check_package
		where 
			id = #{value}
	</select>
	
	<!-- 条件查询 -->
	<select id="findByCondition" parameterType="CheckPackage" resultMap="checkPackageResultMap">
		select * from 
			check_package where 1=1
			<if test="createUserId != null and createUserId != ''">
				and create_user_id = #{createUserId}
			</if>
			<if test="name != null and name != ''">
				and name = #{name}
			</if>
			<if test="price != null ">
				and price = #{price}
			</if>
			<if test="description != null and description != ''">
				and description = #{description}
			</if>
			<if test="officeId != null ">
				and office_id = #{officeId}
			</if>
			<if test="hospitalId != null ">
				and hospital_id = #{hospitalId}
			</if>
			<if test="doctorId != null ">
				and doctor_id = #{doctorId}
			</if>
			<if test="root != null ">
                and root = #{root}
			</if>
			<if test="typeId != null ">
				and type_id = #{typeId}
			</if>
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultMap="checkPackageResultMap">
		select * from 
				check_package a where 1=1
		<if test="pd.query_time_start != null and pd.query_time_start!=''"><!-- 时间检索 -->
			and a.create_time &gt;= #{pd.query_time_start}
		</if>
		<if test="pd.query_time_end!=null and pd.query_time_end != ''"><!-- 时间检索 -->
			and a.create_time &lt;= #{pd.query_time_end}
		</if>
		<if test="pd.name != null and pd.name != ''"><!-- 关键字检索 -->
			and a.name like concat('%',#{pd.name},'%')
		</if>
		<if test="pd.officeId != null and pd.officeId != ''"><!-- 关键字检索 -->
			and a.office_id like concat('%',#{pd.officeId},'%')
		</if>
		order by a.create_time desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="String" resultMap="checkPackageResultMap">
		select * from check_package a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteBatch" parameterType="String">
		delete from check_package
		where 
			id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>

    <!--前端查询套餐详情-->
    <select id="findPackageInfo" parameterType="map" resultType="pd">
        SELECT
        name,
        description,
        EXISTS (SELECT 1 FROM patient_check_report WHERE patient_item_id=#{patientItem.id} AND package_id=#{packageId}) AS isFinished
        FROM check_package WHERE id=#{packageId}
    </select>
    
    <!-- 通过id获取数据 -->
	<select id="getPackageCount" parameterType="com.blue.pem.api.entity.PageCondition" resultType="java.lang.Integer">
		select count(*) from 
			check_package
		where 1=1 
		and hospital_id = #{condition.hospitalId}
	</select>
	
	<!-- 获取列表 -->
	<select id="pagingByCondition" parameterType="com.blue.pem.api.entity.PageCondition" resultMap="checkPackageResultMap">
		select * from 
			check_package
		where 1=1 
		and hospital_id = #{condition.hospitalId}
		limit #{currentResult}, #{pageSize}
	</select>
	
	<!-- 获取某批次所有的套餐，用于确定是否包含特殊套餐 -->
	<select id="listForReport" parameterType="com.blue.pem.api.entity.ReportSearchConditionDO" resultType="java.lang.Long">
		select ma.package_id   
		from check_package_mix m 
		left join check_package_mix_package_asso ma on ma.package_mix_id = m.id 
		left join hospital_group_team t on m.group_team_id = t.id 	
		where m.batch_id = #{batchId} 
        <if test="departmentId != null ">
            and t.department_id = #{departmentId}
        </if>
        <if test="teamId != null ">
            and m.group_team_id = #{teamId}
        </if>
	</select>
	
	<!-- 通过id获取数据 -->
	<select id="countByAppCondition" parameterType="map" resultType="java.lang.Integer">
		select count(*) from 
			check_package a 
		left join p_system_package_type b on a.type_id = b.id 
		where 1=1 
		<if test="hospitalId != null">
			and a.hospital_id = #{hospitalId}
	    </if>
		<if test="typeId != null and typeId != ''">
			and (a.type_id = #{typeId} or b.parent_id = #{typeId})
	    </if>	
	    <if test="classify != null">
			and a.root = #{classify}
			<if test="classify.equals(3) and doctorId != null">
			and a.doctor_id = #{doctorId}
	        </if>
	        <if test="classify.equals(2)">
			and a.on_sold = 1 
	        </if>
	    </if>
	</select>
	
	<!-- 获取列表 -->
	<select id="pagingByAppCondition" parameterType="com.blue.pem.api.entity.PageCondition" resultType="pd">
		select a.id, a.name, a.description, a.price 
		from 
			check_package a 
		left join p_system_package_type b on a.type_id = b.id  
		where 1=1 
		<if test="condition.hospitalId != null">
			and a.hospital_id = #{condition.hospitalId}
	    </if>
		<if test="condition.typeId != null and condition.typeId != ''">
			and (a.type_id = #{condition.typeId} or b.parent_id = #{condition.typeId})
	    </if>	
	    <if test="condition.classify != null">
			and a.root = #{condition.classify}
			<if test="condition.classify.equals(3) and condition.doctorId != null">
			and a.doctor_id = #{condition.doctorId}
	        </if>
	        <if test="condition.classify.equals(2)">
			and a.on_sold = 1 
	        </if>
	    </if>
	    order by a.create_time desc
		limit #{currentResult}, #{pageSize}
	</select>
	
	<!-- 二期：app端套餐页面信息获取和字段筛选 -->
	<select id="fakedatalistPage" parameterType="page" resultMap="checkPackageResultMap">
		select 
			a.*,
			(select name from p_system_package_type pspt where a.type_id = pspt.id) AS typename,
			(select name from p_doctor d where a.doctor_id = d.id) AS doctorname  
		from 
			check_package a 
		left join p_system_package_type b on a.type_id = b.id 	
		where 1=1 and a.root != 1 
		<if test="pd.query_time_start != null and pd.query_time_start!=''"><!-- 时间检索 -->
			and a.create_time &gt;= #{pd.query_time_start}
		</if>
		<if test="pd.query_time_end!=null and pd.query_time_end != ''"><!-- 时间检索 -->
			and a.create_time &lt;= #{pd.query_time_end}
		</if>
		<if test="pd.name != null and pd.name != ''"><!-- 关键字检索 -->
			and a.name like concat('%',#{pd.name},'%')
		</if>
		<if test="pd.officeId != null and pd.officeId != ''"><!-- 关键字检索 -->
			and a.office_id like concat('%',#{pd.officeId},'%')
		</if>
		<if test="pd.query_key_root != null and pd.query_key_root != ''"><!-- 关键字检索 -->
			and a.root like concat('%',#{pd.query_key_root},'%')
		</if>
		<if test="pd.query_key_typeId != null and pd.query_key_typeId != ''"><!-- 关键字检索 -->
			and (a.type_id = #{pd.query_key_typeId} or b.parent_id = #{pd.query_key_typeId})
		</if>
		<if test="pd.query_key_doctorId != null and pd.query_key_doctorId != ''"><!-- 关键字检索 -->
			and a.doctor_id like concat(#{pd.query_key_doctorId})
		</if>
		order by a.create_time desc
	</select>
	
	<!-- 二期：根据套餐id设置套餐的默认价格（获取套餐的关联量表价格之和） -->
	<update id="defaultPrice" parameterType="java.lang.Long">
		update check_package a 
			set a.price = 
				(SELECT SUM(price) from check_sheet a 
					where a.id IN (SELECT sheet_id FROM check_package_sheet_asso WHERE package_id=#{id})) 
				where id = #{id}
	</update>
	
</mapper>