<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CheckQuestionMapper">
	<resultMap type="CheckQuestion" id="checkQuestionResultMap">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="description" property="description"/>
		<result column="type" property="type"/>
		<result column="create_user_id" property="createUserId"/>
		<result column="create_time" property="createTime"/>
		<result column="update_user_id" property="updateUserId"/>
		<result column="update_time" property="updateTime"/>
		<result column="sheet_name_list" property="sheetNameList"/>
		<result column="cont_type" property="contType"/>
		<result column="func_type" property="funcType"/>
		
		<result column="description_text" property="descriptionText"/>
		<result column="description_img" property="descriptionImg"/>
	</resultMap>

    <!--用户端测试题-->
    <resultMap id="questionDTOMap" type="QuestionDTO">
        <id column="id" property="questionId"/>
        <result column="description" property="description"/>
        <result column="type" property="type"/>
        <result column="cont_type" property="contType"/>
        <result column="func_type" property="funcType"/>
        <result column="name" property="name"/>
        <result column="isDone" property="isDone"/>
        <result column="time" property="time"/>
    </resultMap>

	<!-- 新增-->
	<insert id="save" parameterType="CheckQuestion" useGeneratedKeys="true" keyProperty="id">
		insert into check_question(
			name,
			description,
			description_text,
			description_img,
			cont_type,
			type,
			func_type,
			create_user_id,
			create_time
		) values (
			#{name},
			#{description},
			#{descriptionText},
			#{descriptionImg},
			#{contType},
			#{type},
			#{funcType},
			#{createUserId},
			#{createTime}
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="java.lang.Long">
		delete from check_question
		where 
			id = #{value}
	</delete>

	<!-- 修改 -->
	<update id="update" parameterType="CheckQuestion">
		update check_question
			set 
			<if test="name!=null and name!=''">
				name = #{name},
			</if>
			<if test="description!=null and description!=''">
				description = #{description},
			</if>
			<if test="contType !=null">
				cont_type = #{contType},
			</if>
			<if test="type!=null">
				type = #{type},
			</if>
			<if test="funcType!=null">
				func_type = #{funcType},
			</if>
			<if test="descriptionText!=null and descriptionText!=''">
				description_text = #{descriptionText},
			</if>
			<if test="descriptionImg !=null and descriptionImg !=''">
				description_img = #{descriptionImg},
			</if>
			id = id
			where 
				id = #{id}
	</update>
	
	
	<!-- 通过id获取数据 -->
	<select id="findById" parameterType="java.lang.Long" resultMap="checkQuestionResultMap">
		select * from 
			check_question
		where 
			id = #{value}
	</select>
	
	<!-- 条件查询 -->
	<select id="findByCondition" parameterType="CheckQuestion" resultMap="checkQuestionResultMap">
		select * from 
			check_question where 1=1
			<if test="createUserId!=null and createUserId!=''">
				and create_user_id = #{createUserId}
			</if>
			<if test="name!=null and name!=''">
				and name = #{name}
			</if>
			<if test="description!=null and description!=''">
				and description = #{description}
			</if>
			<if test="type!=null">
				and type = #{type}
			</if>
			<if test="funcType!=null">
				and func_type = #{funcType}
			</if>
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultMap="checkQuestionResultMap">
			SELECT
			a.*,
			GROUP_CONCAT(c.name  separator ',  ') 'sheet_name_list'
			FROM
			check_question a
			LEFT JOIN
			check_sheet_question_asso b
			ON
			b.question_id = a.id
			LEFT JOIN
			check_sheet c
			ON
			c.id = b.sheet_id
			where 1=1
		<if test="pd.query_time_start!=null and pd.query_time_start!=''"><!-- 时间检索 -->
			and a.create_time &gt;= #{pd.query_time_start}
		</if>
		<if test="pd.query_time_end!=null and pd.query_time_end!=''"><!-- 时间检索 -->
			and a.create_time &lt;= #{pd.query_time_end}
		</if>
		<if test="pd.name!=null and pd.name!=''"><!-- 关键字检索 -->
			and a.name like concat('%',#{pd.name},'%')
		</if>
		<if test="pd.funcType!=null"><!-- 关键字检索 -->
			and a.func_type =#{pd.funcType}
		</if>
        group by
        a.id
        order by a.create_time desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="String" resultMap="checkQuestionResultMap">
		select * from check_question a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteBatch" parameterType="String">
		delete from check_question
		where 
			id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>

    <!--查询体检表题目列表-->
    <select id="findSheetItems" parameterType="pd" resultMap="questionDTOMap">
        SELECT q.id,q.description,q.description_text,q.description_img,q.type,q.cont_type,q.func_type,
        EXISTS (SELECT 1 FROM patient_check_question_option WHERE patient_item_id=#{patientItemId} AND package_id=#{packageId} AND check_sheet_id=#{sheetId} AND question_id=q.id) AS isDone,
        (SELECT sum(time) FROM patient_check_question_option WHERE patient_item_id=#{patientItemId} AND package_id=#{packageId} AND check_sheet_id=#{sheetId} AND question_id=q.id) AS time
        FROM check_sheet_question_asso s
        LEFT JOIN check_question q ON s.question_id=q.id
        WHERE s.sheet_id=#{sheetId} ORDER BY s.question_seq
        <if test="end!=null">
            limit 0,#{end}
        </if>
    </select>

    <!--根据选项查询题目-->
    <select id="findByOptionId" parameterType="long" resultMap="checkQuestionResultMap">
        SELECT * FROM check_question WHERE id=(SELECT question_id FROM check_question_option WHERE id=#{value})
    </select>
</mapper>



























