<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CheckPackageMixMapper">
	<resultMap type="CheckPackageMix" id="checkPackageMixResultMap">
		<id column="id" property="id"/>
		<result column="batch_id" property="batchId"/>
		<result column="group_team_id" property="groupTeamId"/>
		<result column="name" property="name"/>
		<result column="description" property="description"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_time" property="createTime"/>
	</resultMap>
	
	<!-- 新增-->
	<insert id="save" parameterType="CheckPackageMix" useGeneratedKeys="true" keyProperty="id">
		insert into check_package_mix(
        batch_id,
        group_team_id,
        name,
        description,
        create_user_id,
        create_time
		) values (
            #{batchId},
            #{groupTeamId},
            #{name},
            #{description},
        #{createUserId},
        #{createTime}
		)
	</insert>

    <!--批量新增-->
    <insert id="batchSave" parameterType="list">
        insert into check_package_mix(
            batch_id,
            group_team_id,
            name,
            description,
            create_user_id,
            create_time
        )
        values
        <foreach collection ="list" item="item" index= "index" separator =",">
        (
            #{item.batchId},
            #{item.groupTeamId},
            #{item.name},
            #{item.description},
            #{item.createUserId},
            #{item.createTime}
        )
        </foreach>
    </insert>

	<!-- 删除-->
	<update id="delete" parameterType="java.lang.Long">
		delete from check_package_mix
		where 
			id = #{value}
	</update>

	<!-- 修改 -->
	<update id="update" parameterType="CheckPackageMix">
		update check_package_mix
			set 
			<if test="batchId!=null">
				batch_id = #{batchId},
			</if>
			<if test="groupTeamId!=null">
				group_team_id = #{groupTeamId},
			</if>
			<if test="name!=null and name!=''">
				name = #{name},
			</if>
			<if test="description!=null and description!=''">
				description = #{description},
			</if>
			id = id
			where 
				id = #{id}
	</update>
	
	
	<!-- 通过id获取数据 -->
	<select id="findById" parameterType="java.lang.Long" resultMap="checkPackageMixResultMap">
		select * from 
			check_package_mix
		where 
			id = #{value}
	</select>
	
	<!-- 条件查询 -->
	<select id="findByCondition" parameterType="CheckPackageMix" resultMap="checkPackageMixResultMap">
		select * from 
			check_package_mix where 1=1
			<if test="createUserId!=null and createUserId!=''">
				and create_user_id = #{createUserId}
			</if>
			<if test="batchId!=null">
				and batch_id = #{batchId}
			</if>
			<if test="groupTeamId!=null">
				and group_team_id = #{groupTeamId}
			</if>
			<if test="name!=null and name!=''">
				and name = #{name}
			</if>
			<if test="description!=null and description!=''">
				and description = #{description}
			</if>
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultMap="checkPackageMixResultMap">
		select * from 
				check_package_mix a where 1=1
		<if test="pd.query_time_start!=null and pd.query_time_start!=''"><!-- 时间检索 -->
			and a.create_time &gt;= #{pd.query_time_start}
		</if>
		<if test="pd.query_time_end!=null and pd.query_time_end!=''"><!-- 时间检索 -->
			and a.create_time &lt;= #{pd.query_time_end}
		</if>	
		<if test="pd.query_key!=null and pd.query_key!=''"><!-- 关键字检索 -->
			and a.name like concat('%',#{pd.query_key},'%')
		</if>
			order by a.create_time desc	
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="String" resultMap="checkPackageMixResultMap">
		select * from check_package_mix a
	</select>
	
	<!-- 批量删除 -->
	<update id="deleteBatch" parameterType="String">
		delete from check_package_mix
		where 
			id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</update>
	
	<!-- 获取虚拟体检卡列表，用于导出 -->
	<select id="listPatientExcelVOInVirtual" parameterType="com.blue.pem.api.entity.GroupDepartmentDO" resultType="com.blue.pem.api.entity.PatientExcelVO">
		select a.id packageMixId, t.id teamId, t.name teamName, t.account teamAccount, c.id cardId, c.num cardNum, i.name  
		from check_package_mix a
		right join card_virtual c
		on c.package_mix_id = a.id 
		left join patient_item i 
		on c.num = i.check_card_num 
		left join hospital_group_team t 
		on i.team_id = t.id 
		
		where t.department_id = #{departmentId} and a.batch_id = #{batchId} and i.batch_id = #{batchId} 
		order by t.id
	</select>
	<!-- 获取实体体检卡列表，用于导出 -->
	<select id="listPatientExcelVOInEntity" parameterType="com.blue.pem.api.entity.GroupDepartmentDO" resultType="com.blue.pem.api.entity.PatientExcelVO">
		select a.id packageMixId, t.id teamId, t.name teamName, t.account teamAccount, c.id cardId, c.num cardNum, i.name  
		from check_package_mix a
		left join hospital_group_team t 
		on a.group_team_id = t.id 
		right join patient_item i 
		on t.id = i.team_id 
		left join card_entity c
		on c.num = i.check_card_num 
		where t.department_id = #{departmentId} and a.batch_id = #{batchId} and i.batch_id = #{batchId} 
		order by t.id
	</select>
	<!-- 列表(全部) -->
	<select id="listForReport" parameterType="com.blue.pem.api.entity.ReportSearchConditionDO" resultType="java.lang.Long">
		select m.id   
		from check_package_mix m 
		left join hospital_group_team t on m.group_team_id = t.id 	
		where m.batch_id = #{batchId} 
        <if test="departmentId != null ">
            and t.department_id = #{departmentId}
        </if>
        <if test="teamId != null ">
            and m.group_team_id = #{teamId}
        </if>
	</select>
	
</mapper>