<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PatientCheckDataCollectionMapper">
	<resultMap type="PatientCheckDataCollection" id="patientCheckDataCollectionResultMap">
		<id column="id" property="id"/>
		<result column="patient_item_id" property="patientItemId"/>
		<result column="name" property="name"/>
		<result column="group_name" property="groupName"/>
		<result column="mobile" property="mobile"/>
		<result column="birthday" property="birthday"/>
		<result column="degree" property="degree"/>
		<result column="career" property="career"/>
		<result column="marital_status" property="maritalStatus"/>
		<result column="question_id" property="questionId"/>
		<result column="question_desc" property="questionDesc"/>
		<result column="cont_type" property="contType"/>
		<result column="patient_option_id" property="patientOptionId"/>
		<result column="patient_option_desc" property="patientOptionDesc"/>
		<result column="check_sheet_id" property="checkSheetId"/>
		<result column="check_sheet_name" property="checkSheetName"/>
		<result column="sheet_sum_score" property="sheetSumScore"/>
		<result column="factor_scores" property="factorScores"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_time" property="createTime"/>
	</resultMap>
	
	<!-- 新增-->
	<insert id="save" parameterType="PatientCheckDataCollection" useGeneratedKeys="true" keyProperty="id">
		insert into patient_check_data_collection(
        patient_item_id,
        name,
        group_name,
        mobile,
        birthday,
        degree,
        career,
        marital_status,
        question_id,
        question_desc,
        cont_type,
        patient_option_id,
        patient_option_desc,
        check_sheet_id,
        check_sheet_name,
        sheet_sum_score,
        factor_scores,
        create_user_id,
        create_time
		) values (
            #{patientItemId},
            #{name},
            #{groupName},
            #{mobile},
            #{birthday},
            #{degree},
            #{career},
            #{maritalStatus},
            #{questionId},
            #{questionDesc},
            #{contType},
            #{patientOptionId},
            #{patientOptionDesc},
            #{checkSheetId},
            #{checkSheetName},
            #{sheetSumScore},
            #{factorScores},
        #{createUserId},
        #{createTime}
		)
	</insert>

    <!--批量新增-->
    <insert id="batchSave" parameterType="list">
        insert into patient_check_data_collection(
            patient_item_id,
            name,
            group_name,
            mobile,
            birthday,
            degree,
            career,
            marital_status,
            question_id,
            question_desc,
            cont_type,
            patient_option_id,
            patient_option_desc,
            check_sheet_id,
            check_sheet_name,
            sheet_sum_score,
            factor_scores,
            create_user_id,
            create_time
        )
        values
        <foreach collection ="list" item="item" index= "index" separator =",">
        (
            #{item.patientItemId},
            #{item.name},
            #{item.groupName},
            #{item.mobile},
            #{item.birthday},
            #{item.degree},
            #{item.career},
            #{item.maritalStatus},
            #{item.questionId},
            (SELECT description FROM check_question WHERE id=#{item.questionId}),
            (SELECT cont_type FROM check_question WHERE id=#{item.questionId}),
            #{item.patientOptionId},
            #{item.patientOptionDesc},
            #{item.checkSheetId},
            #{item.checkSheetName},
            #{item.sheetSumScore},
            #{item.factorScores},
            #{item.createUserId},
            #{item.createTime}
        )
        </foreach>
    </insert>

	<!-- 删除-->
	<update id="delete" parameterType="java.lang.Long">
		delete from patient_check_data_collection
		where 
			id = #{value}
	</update>

	<!-- 修改 -->
	<update id="edit" parameterType="PatientCheckDataCollection">
		update patient_check_data_collection
			set 
			<if test="patientItemId!=null">
				patient_item_id = #{patientItemId},
			</if>
			<if test="name!=null and name!=''">
				name = #{name},
			</if>
			<if test="groupName!=null and groupName!=''">
				group_name = #{groupName},
			</if>
			<if test="mobile!=null and mobile!=''">
				mobile = #{mobile},
			</if>
			<if test="birthday!=null and birthday!=''">
				birthday = #{birthday},
			</if>
			<if test="degree!=null and degree!=''">
				degree = #{degree},
			</if>
			<if test="career!=null and career!=''">
				career = #{career},
			</if>
			<if test="maritalStatus!=null">
				marital_status = #{maritalStatus},
			</if>
			<if test="questionId!=null">
				question_id = #{questionId},
			</if>
			<if test="questionDesc!=null and questionDesc!=''">
				question_desc = #{questionDesc},
			</if>
			<if test="contType!=null">
				cont_type = #{contType},
			</if>
			<if test="patientOptionId!=null">
				patient_option_id = #{patientOptionId},
			</if>
			<if test="patientOptionDesc!=null and patientOptionDesc!=''">
				patient_option_desc = #{patientOptionDesc},
			</if>
			<if test="checkSheetId!=null">
				check_sheet_id = #{checkSheetId},
			</if>
			<if test="checkSheetName!=null and checkSheetName!=''">
				check_sheet_name = #{checkSheetName},
			</if>
			<if test="sheetSumScore!=null">
				sheet_sum_score = #{sheetSumScore},
			</if>	
			<if test="factorScores!=null and factorScores!=''">
				factor_scores = #{factorScores},
			</if>
			id = id
			where 
				id = #{id}
	</update>
	
	
	<!-- 通过id获取数据 -->
	<select id="findById" parameterType="java.lang.Long" resultMap="patientCheckDataCollectionResultMap">
		select * from 
			patient_check_data_collection
		where 
			id = #{value}
	</select>
	
	<!-- 条件查询 -->
	<select id="findByCondition" parameterType="PatientCheckDataCollection" resultMap="patientCheckDataCollectionResultMap">
		select * from 
			patient_check_data_collection where 1=1
			<if test="createUserId!=null and createUserId!=''">
				and create_user_id = #{createUserId}
			</if>
			<if test="patientItemId!=null">
				and patient_item_id = #{patientItemId}
			</if>
			<if test="name!=null and name!=''">
				and name = #{name}
			</if>
			<if test="groupName!=null and groupName!=''">
				and group_name = #{groupName}
			</if>
			<if test="mobile!=null and mobile!=''">
				and mobile = #{mobile}
			</if>
			<if test="birthday!=null and birthday!=''">
				and birthday = #{birthday}
			</if>
			<if test="degree!=null and degree!=''">
				and degree = #{degree}
			</if>
			<if test="career!=null and career!=''">
				and career = #{career}
			</if>
			<if test="maritalStatus!=null">
				and marital_status = #{maritalStatus}
			</if>
			<if test="questionId!=null">
				and question_id = #{questionId}
			</if>
			<if test="questionDesc!=null and questionDesc!=''">
				and question_desc = #{questionDesc}
			</if>
			<if test="contType!=null">
				and cont_type = #{contType}
			</if>
			<if test="patientOptionId!=null">
				and patient_option_id = #{patientOptionId}
			</if>
			<if test="patientOptionDesc!=null and patientOptionDesc!=''">
				and patient_option_desc = #{patientOptionDesc}
			</if>
			<if test="checkSheetId!=null">
				and check_sheet_id = #{checkSheetId}
			</if>
			<if test="checkSheetName!=null and checkSheetName!=''">
				and check_sheet_name = #{checkSheetName}
			</if>
			<if test="sheetSumScore!=null">
				and sheet_sum_score = #{sheetSumScore}
			</if>	
			<if test="factorScores!=null and factorScores!=''">
				and factor_scores = #{factorScores}
			</if>
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultMap="patientCheckDataCollectionResultMap">
		select * from 
				patient_check_data_collection a where 1=1
		<if test="pd.query_time_start!=null and pd.query_time_start!=''"><!-- 时间检索 -->
			and a.create_time &gt;= #{pd.query_time_start}
		</if>
		<if test="pd.query_time_end!=null and pd.query_time_end!=''"><!-- 时间检索 -->
			and a.create_time &lt;= #{pd.query_time_end}
		</if>	
		<if test="pd.query_key!=null and pd.query_key!=''"><!-- 关键字检索 -->
			and a.name like concat('%',#{pd.query_key},'%')
		</if>
			order by a.create_time desc	
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="String" resultMap="patientCheckDataCollectionResultMap">
		select * from patient_check_data_collection a
	</select>
	
	<!-- 批量删除 -->
	<update id="deleteBatch" parameterType="String">
		delete from patient_check_data_collection
		where 
			id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</update>
	
</mapper>