<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PatientCheckReportFactorMapper">
	<resultMap type="PatientCheckReportFactor" id="patientCheckReportFactorResultMap">
		<id column="id" property="id"/>
		<result column="patient_item_id" property="patientItemId"/>
		<result column="package_id" property="packageId"/>
		<result column="factor_id" property="factorId"/>
		<result column="name" property="name"/>
		<result column="score" property="score"/>
		<result column="suggest" property="suggest"/>
		<result column="remark" property="remark"/>
		<result column="sheet_id" property="sheetId"/>
		<result column="question_id_str" property="questionIdStr"/>
		<result column="option_id_str" property="optionIdStr"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_time" property="createTime"/>
	</resultMap>
	
	<!-- 新增-->
	<insert id="save" parameterType="PatientCheckReportFactor" useGeneratedKeys="true" keyProperty="id">
		insert into patient_check_report_factor(
			patient_item_id,
			package_id,
			factor_id,
			name,
			score,
			suggest,
			remark,
			sheet_id,
			question_id_str,
			option_id_str,
			create_user_id,
			create_time
		) values (
			#{patientItemId},
			#{packageId},
			#{factorId},
			#{name},
			#{score},
			#{suggest},
			#{remark},
			#{sheetId},
			#{questionIdStr},
			#{optionIdStr},
            #{createUserId},
            #{createTime}
		)
	</insert>
	
	<!-- 修改 -->
	<update id="edit" parameterType="PatientCheckReportFactor">
		update patient_check_report_factor
			set 
			<if test="patientItemId!=null">
				patient_item_id = #{patientItemId},
			</if>
			<if test="packageId != null">
                package_id = #{packageId},
			</if>
			<if test="factorId!=null">
				factor_id = #{factorId},
			</if>
			<if test="name!=null and name!=''">
				name = #{name},
			</if>
			<if test="score!=null">
				score = #{score},
			</if>
			<if test="suggest!=null and suggest!=''">
				suggest = #{suggest},
			</if>
			<if test="remark!=null and remark!=''">
				remark = #{remark},
			</if>
			<if test="sheetId!=null">
				sheet_id = #{sheetId},
			</if>
			<if test="questionIdStr!=null and questionIdStr!=''">
				question_id_str = #{questionIdStr},
			</if>
			<if test="optionIdStr!=null and optionIdStr!=''">
				option_id_str = #{optionIdStr},
			</if>
			id = id
			where 
				id = #{id}
	</update>
	
	
	<!-- 通过id获取数据 -->
	<select id="findById" parameterType="java.lang.Long" resultMap="patientCheckReportFactorResultMap">
		select * from 
			patient_check_report_factor
		where 
			id = #{value}
	</select>
	
	<!-- 条件查询 -->
	<select id="findByCondition" parameterType="PatientCheckReportFactor" resultMap="patientCheckReportFactorResultMap">
		select * from 
			patient_check_report_factor where 1=1
			<if test="createUserId!=null and createUserId!=''">
				and create_user_id = #{createUserId}
			</if>
			<if test="patientItemId!=null">
				and patient_item_id = #{patientItemId}
			</if>
			<if test="packageId!=null">
				and package_id = #{packageId}
			</if>
			<if test="factorId!=null">
				and factor_id = #{factorId}
			</if>
			<if test="name!=null and name!=''">
				and name = #{name}
			</if>
			<if test="suggest!=null and suggest!=''">
				and suggest = #{suggest}
			</if>
			<if test="remark!=null and remark!=''">
				and remark = #{remark}
			</if>
			<if test="sheetId!=null">
				and sheet_id = #{sheetId}
			</if>
			<if test="questionIdStr!=null and questionIdStr!=''">
				and question_id_str = #{questionIdStr}
			</if>
			<if test="optionIdStr!=null and optionIdStr!=''">
				and option_id_str = #{optionIdStr}
			</if>
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultMap="patientCheckReportFactorResultMap">
		select * from 
				patient_check_report_factor a where 1=1
		<if test="pd.query_time_start!=null and pd.query_time_start!=''"><!-- 时间检索 -->
			and a.create_time &gt;= #{pd.query_time_start}
		</if>
		<if test="pd.query_time_end!=null and pd.query_time_end!=''"><!-- 时间检索 -->
			and a.create_time &lt;= #{pd.query_time_end}
		</if>	
		<if test="pd.query_key!=null and pd.query_key!=''"><!-- 关键字检索 -->
			and a.name like concat('%',#{pd.query_key},'%')
		</if>
			order by a.create_time desc	
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="String" resultMap="patientCheckReportFactorResultMap">
		select * from patient_check_report_factor a
	</select>
	
	<!-- 批量删除 -->
	<update id="deleteBatchLogical" parameterType="String">
		update patient_check_report_factor	set del_flag=1
		where 
			id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</update>

    <!--批量新增-->
    <insert id="batchSave" parameterType="list">
        INSERT INTO patient_check_report_factor(
            patient_item_id,
            package_id,
            factor_id,
            name,
            score,
            suggest,
            remark,
            sheet_id,
            question_id_str,
            option_id_str,
            create_user_id,
            create_time
        )
        values
        <foreach collection ="list" item="item" index= "index" separator =",">
        (
            #{item.patientItemId},
            #{item.packageId},
            #{item.factorId},
            #{item.name},
            #{item.score},
            #{item.suggest},
            #{item.remark},
            #{item.sheetId},
            #{item.questionIdStr},
            #{item.optionIdStr},
            #{item.createUserId},
            #{item.createTime}
        )
        </foreach>
    </insert>
    <!-- 查找用户历史测试因子名称列表 -->
	<select id="getMemberFactorNameList" parameterType="pd" resultType="pd">
		select a.name factorName  
		from patient_check_report_factor a 
		left join p_member_order b on a.patient_item_id = b.patient_item_id 
		where b.id is not null and b.member_id = #{memberId} 
		<if test="packageId != null and packageId != ''">
		and b.package_id = #{packageId}  
		</if>
		<!-- <if test="startTime != null and startTime != ''">
		and a.create_time &gt;= #{beginTime}  
		</if>
		<if test="endTime != null and endTime != ''">
		and a.create_time &lt;= #{endTime}  
		</if>  -->
		group by a.name 
	</select>
    
</mapper>