<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PatientCheckAlertMapper">
	<resultMap type="PatientCheckAlert" id="patientCheckAlertResultMap">
		<id column="id" property="id"/>
		<result column="patient_item_id" property="patientItemId"/>
		<result column="package_id" property="packageId"/>
		<result column="check_sheet_id" property="checkSheetId"/>
		<result column="look_status" property="lookStatus"/>
		<result column="deal_status" property="dealStatus"/>
		<result column="create_user_id" property="createUserId"/>
		<result column="create_time" property="createTime"/>
		<result column="update_user_id" property="updateUserId"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>
	
	<!-- 新增-->
	<insert id="save" parameterType="PatientCheckAlert" useGeneratedKeys="true" keyProperty="id">
		insert into patient_check_alert(
			patient_item_id,
			package_id,
			check_sheet_id,
			look_status,
			deal_status,
			create_user_id,
			create_time
		) values (
			#{patientItemId},
			#{packageId},
			#{checkSheetId},
			#{lookStatus},
			#{dealStatus},
			#{createUserId},
			#{createTime}
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="java.lang.Long">
		delete from patient_check_alert
		where 
			id = #{value}
	</delete>

	<!-- 修改 -->
	<update id="update" parameterType="PatientCheckAlert">
		update patient_check_alert
			set 
			<if test="patientItemId != null">
				patient_item_id = #{patientItemId},
			</if>
			<if test="packageId != null">
				package_id = #{packageId},
			</if>
			<if test="checkSheetId != null">
				check_sheet_id = #{checkSheetId},
			</if>
			<if test="lookStatus != null">
				look_status = #{lookStatus},
			</if>
			<if test="dealStatus != null">
				deal_status = #{dealStatus},
			</if>
			id = id
			where 
				id = #{id}
	</update>
	
	
	<!-- 通过id获取数据 -->
	<select id="findById" parameterType="java.lang.Long" resultMap="patientCheckAlertResultMap">
		select * from 
			patient_check_alert
		where 
			id = #{value}
	</select>
	
	<!-- 条件查询 -->
	<select id="findByCondition" parameterType="PatientCheckAlert" resultMap="patientCheckAlertResultMap">
		select * from 
			patient_check_alert where 1=1
			<if test="createUserId != null and createUserId != ''">
				and create_user_id = #{createUserId}
			</if>
			<if test="patientItemId != null">
				and patient_item_id = #{patientItemId}
			</if>
			<if test="packageId != null">
				and package_id = #{packageId}
			</if>
			<if test="checkSheetId != null">
				and check_sheet_id = #{checkSheetId}
			</if>
			<if test="lookStatus != null">
				and look_status = #{lookStatus}
			</if>
			<if test="dealStatus != null">
				and deal_status = #{dealStatus}
			</if>
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultMap="patientCheckAlertResultMap">
		select * from 
				patient_check_alert a where 1=1
		<if test="pd.query_time_start != null and pd.query_time_start!=''"><!-- 时间检索 -->
			and a.create_time &gt;= #{pd.query_time_start}
		</if>
		<if test="pd.query_time_end!=null and pd.query_time_end != ''"><!-- 时间检索 -->
			and a.create_time &lt;= #{pd.query_time_end}
		</if>
		order by a.create_time desc	
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="String" resultMap="patientCheckAlertResultMap">
		select * from patient_check_alert a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteBatch" parameterType="String">
		delete from patient_check_alert
		where 
			id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>

    <!--查找心理预警报告列表-->
    <select id="findAlertReportlistPage" parameterType="page" resultType="pd">
        SELECT
        pcr.patient_item_id AS patientItemId,
        pcr.id AS reportId,
        pcr.report_time AS reportTime,
        CASE WHEN (ppa.check_card_num IS null OR ppa.check_card_num=null) THEN pi.xiaoshan_medical_card ELSE ppa.check_card_num END AS cardNum,
        pi.name,
        IFNULL(pi.group_name, "个体")AS groupName,
        CASE pi.treat_card_status WHEN 1 THEN "开启" ELSE "关闭" END AS treatStatus,
        pi.mobile,
        pi.check_office_name AS officeName,
        cp.name AS packageName,
        pcr.alert_look_status AS lookStatus,
        pcr.alert_deal_status AS dealStatus
        FROM patient_check_report pcr
        INNER JOIN patient_item pi ON pcr.patient_item_id=pi.id
        LEFT JOIN check_package cp ON pcr.package_id=cp.id
        LEFT JOIN patient_package_asso ppa ON (ppa.patient_item_id = pcr.patient_item_id AND ppa.package_id = pcr.package_id)
        WHERE pcr.check_status = 1 AND pcr.alert_status=1 AND pi.hospital_id=#{pd.hospitalId}
        <if test="pd.officeId!=null">
            AND pi.check_office_id=#{pd.officeId}
        </if>
        <if test="pd.departmentId!=null">
            AND pi.check_office_id IN (SELECT office_id FROM hospital_depart_office_asso WHERE department_id=#{pd.departmentId})
        </if>
        ORDER BY reportTime DESC
    </select>

    <!--查询未查看的预警数-->
    <select id="findAlertNoLookedCount" parameterType="pd" resultType="int">
        SELECT
        count(1)
        FROM patient_check_report pcr
        INNER JOIN patient_item pi ON pcr.patient_item_id=pi.id
        WHERE pcr.check_status = 1
        AND pcr.alert_status=1
        AND pi.hospital_id=#{hospitalId}
        AND EXISTS (SELECT 1 FROM patient_check_alert WHERE patient_item_id=pi.id AND look_status=0)
        <if test="officeId!=null">
            AND pi.check_office_id=#{officeId}
        </if>
        <if test="departmentId!=null">
            AND pi.check_office_id IN (SELECT office_id FROM hospital_depart_office_asso WHERE department_id=#{departmentId})
        </if>
    </select>

    <!--查询未处理的预警数-->
    <select id="findAlertNoDealtCount" parameterType="pd" resultType="int">
        SELECT
        count(1)
        FROM patient_check_report pcr
        INNER JOIN patient_item pi ON pcr.patient_item_id=pi.id
        WHERE pcr.check_status = 1
        AND pcr.alert_status=1
        AND pi.hospital_id=#{hospitalId}
        AND pcr.alert_deal_status=0
        <if test="officeId!=null">
            AND pi.check_office_id=#{officeId}
        </if>
        <if test="departmentId!=null">
            AND pi.check_office_id IN (SELECT office_id FROM hospital_depart_office_asso WHERE department_id=#{departmentId})
        </if>
    </select>

    <!--处理用户体检报告预警-->
    <update id="dealWithAlert" parameterType="Long">
        UPDATE patient_check_alert set deal_status=#{status} WHERE patient_item_id=#{patientItemId}
    </update>

    <!--查看用户体检报告预警-->
    <select id="updateLookReportAlert" parameterType="Long">
        UPDATE patient_check_alert set look_status=1 WHERE patient_item_id=#{value}
    </select>

    <!--改变体检报告为已查看状态-->
    <update id="changeReportLookStatus" parameterType="Long">
        UPDATE patient_check_alert SET look_status=1 WHERE patient_item_id=#{value}
    </update>

    <!--用户是否预警-->
    <select id="isPatientItemAlert" parameterType="long" resultType="boolean">
        SELECT EXISTS (SELECT 1 FROM patient_check_alert WHERE patient_item_id=#{VALUE})
    </select>

















</mapper>