<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DivisionMapper">
	<resultMap type="Division" id="divisionResultMap">
		<id column="division_id" property="divisionId"/>
		<result column="division_name" property="divisionName"/>
		<result column="division_orderby" property="divisionOrderby"/>
		<result column="division_level" property="divisionLevel"/>
		<result column="division_parentid" property="divisionParentid"/>
		<result column="zip_code" property="zipCode"/>
		<result column="address_code" property="addressCode"/>
		<result column="del_flag" property="delFlag"/>
		<result column="create_user_id" property="createUserId"/>
		<result column="create_time" property="createTime"/>
		<result column="update_user_id" property="updateUserId"/>
		<result column="update_time" property="updateTime"/>
		<!-- 以下是因为业务需要添加的属性 -->
		<association property="division" column="division_parentid" select="DivisionMapper.findById"/>	
	</resultMap>
	
	<!-- 新增-->
	<insert id="save" parameterType="Division">
		insert into t_division(
			division_name,
			division_orderby,
			division_level,
			division_parentid,
			zip_code,
			address_code,
			del_flag,
			create_user_id,
			create_time,
			update_user_id,
			update_time
		) values (
			#{divisionName},
			#{divisionOrderby},
			#{divisionLevel},
			#{divisionParentid},
			#{zipCode},
			#{addressCode},
			#{delFlag},
			#{createUserId},
			#{createTime},
			#{updateUserId},
			#{updateTime}
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="java.lang.Long">
		delete from t_division
		where 
			division_id = #{value}
	</delete>

	
	<!-- 删除-->
	<update id="deleteLogical" parameterType="java.lang.Long">
		update t_division set del_flag=1
		where division_id = #{value}
	</update>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="Division">
		update t_division
			set 
			<if test="divisionName!=null and divisionName!=''">
				division_name = #{divisionName},
			</if>
			<if test="divisionOrderby!=null">
				division_orderby = #{divisionOrderby},
			</if>
			<if test="divisionLevel!=null">
				division_level = #{divisionLevel},
			</if>
			<if test="divisionParentid!=null">
				division_parentid = #{divisionParentid},
			</if>
			<if test="zipCode!=null and zipCode!=''">
				zip_code = #{zipCode},
			</if>
			<if test="addressCode!=null and addressCode!=''">
				address_code = #{addressCode},
			</if>
			division_id = division_id
			where 
				division_id = #{divisionId}
	</update>
	
	
	<!-- 通过id获取数据 -->
	<select id="findById" parameterType="java.lang.Long" resultMap="divisionResultMap">
		select * from 
			t_division
		where 
			division_id = #{value}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultMap="divisionResultMap">
		select * from 
				t_division a where del_flag=0 
		<if test="pd.query_time_start!=null and pd.query_time_start!=''"><!-- 时间检索 -->
			and a.create_time &gt;= #{pd.query_time_start}
		</if>
		<if test="pd.query_time_end!=null and pd.query_time_end!=''"><!-- 时间检索 -->
			and a.create_time &lt;= #{pd.query_time_end}
		</if>	
		<if test="pd.query_key!=null and pd.query_key!=''"><!-- 关键字检索 -->
			and a.division_name like concat('%',#{pd.query_key},'%')
		</if>		
		<if test="pd.divisionLevel!=null and pd.divisionLevel!=''"><!-- 关键字检索 -->
			and a.division_level=#{pd.divisionLevel}
		</if>		
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="String" resultMap="divisionResultMap">
		select * from t_division a
	</select>
	<!-- 根据父节点ID查询列表 -->
	<select id="findListByParentId" parameterType="java.lang.Long" resultMap="divisionResultMap">
		select * from t_division a where a.division_parentid = ${value} and del_flag = 0  order by a.division_orderby
	</select>
	<!-- 批量删除 -->
	<update id="deleteLogicalBatch" parameterType="String">
		update t_division set del_flag=1  
		where 
			division_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</update>
	<!-- 通过addressCode获取数据 -->
	<select id="findByAddressCode" parameterType="String" resultMap="divisionResultMap">
		select * from 
			t_division
		where 
			address_code = #{value}
	</select>
</mapper>