<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings> 
        <setting name="cacheEnabled" value="true" /><!-- 全局映射器启用缓存 -->   
        <setting name="useGeneratedKeys" value="true" /> 
        <setting name="defaultExecutorType" value="REUSE" />
        <setting name="callSettersOnNulls" value="true" /> <!-- 将null值映射到map中 -->
    </settings>

	<typeAliases>
		<typeAlias type="com.blue.common.entity.system.Menu" alias="Menu"/>
		<typeAlias type="com.blue.common.util.PageData" alias="pd"/>
		<!-- 分页 -->
		<typeAlias type="com.blue.common.entity.Page" alias="Page"/>
		<typeAlias type="com.blue.other.entity.Division" alias="Division"/><!-- 行政区划表 -->
		<typeAlias type="com.blue.common.entity.Dictionary" alias="Dictionary"/><!--  -->
		<typeAlias type="com.blue.common.entity.DictionaryCode" alias="DictionaryCode"/>
		
		<typeAlias type="com.blue.user.entity.Platformuser" alias="Platformuser"/>
		<typeAlias type="com.blue.user.entity.MenuAction" alias="MenuAction"/><!--  -->
		<typeAlias type="com.blue.user.entity.MenuActionVO" alias="MenuActionVO"/><!--  -->
		<typeAlias type="com.blue.user.entity.RoleActionAsso" alias="RoleActionAsso"/><!--  -->
		<typeAlias type="com.blue.user.entity.RoleActionAssoVO" alias="RoleActionAssoVO"/><!--  -->
		<typeAlias type="com.blue.user.entity.RoleItem" alias="RoleItem"/><!--  -->
		<typeAlias type="com.blue.user.entity.MenuItem" alias="MenuItem"/><!--  -->
		
		<typeAlias type="com.blue.pem.hospital.entity.HospitalOffice" alias="HospitalOffice"/><!--  -->
		<typeAlias type="com.blue.pem.hospital.entity.HospitalAccount" alias="HospitalAccount"/><!--  -->
		<typeAlias type="com.blue.pem.hospital.entity.Hospital" alias="Hospital"/><!--  -->
		<typeAlias type="com.blue.pem.hospital.entity.HospitalAuditDoctor" alias="HospitalAuditDoctor"/><!--  -->
		<typeAlias type="com.blue.pem.hospital.entity.HospitalDepartment" alias="HospitalDepartment"/><!--  -->
		<typeAlias type="com.blue.pem.hospital.entity.HospitalDepartOfficeAsso" alias="HospitalDepartOfficeAsso"/><!--  -->
        <typeAlias type="com.blue.pem.hospital.entity.HospitalOfficeDoctor" alias="HospitalOfficeDoctor"/><!--  -->
		<!-- 二期新增 -->
		<typeAlias type="com.blue.pem.hospital.entity.HospitalBatchDepartmentAsso" alias="HospitalBatchDepartmentAsso"/><!--  -->
		<typeAlias type="com.blue.pem.hospital.entity.HospitalBatch" alias="HospitalBatch"/><!--  -->
		<typeAlias type="com.blue.pem.hospital.entity.HospitalBatchReport" alias="HospitalBatchReport"/><!--  -->
		<typeAlias type="com.blue.pem.hospital.entity.HospitalDepartmentReport" alias="HospitalDepartmentReport"/><!--  -->
		<typeAlias type="com.blue.pem.hospital.entity.HospitalTeamReport" alias="HospitalTeamReport"/><!--  -->
		<typeAlias type="com.blue.pem.hospital.entity.HospitalGroupDepartment" alias="HospitalGroupDepartment"/><!--  -->
		<typeAlias type="com.blue.pem.hospital.entity.HospitalGroupTeam" alias="HospitalGroupTeam"/><!--  -->
		
		<typeAlias type="com.blue.pem.card.entity.CardEntity" alias="CardEntity"/><!--  -->
		<typeAlias type="com.blue.pem.card.entity.CardTreatment" alias="CardTreatment"/><!--  -->
		<typeAlias type="com.blue.pem.card.entity.CardVirtual" alias="CardVirtual"/><!--  -->
		<typeAlias type="com.blue.pem.check.entity.CheckQuestion" alias="CheckQuestion"/><!--  -->
		<typeAlias type="com.blue.pem.check.entity.CheckQuestionOption" alias="CheckQuestionOption"/><!--  -->
		<typeAlias type="com.blue.pem.check.entity.CheckSheet" alias="CheckSheet"/><!--  -->
		<typeAlias type="com.blue.pem.check.entity.CheckSheetQuestionAsso" alias="CheckSheetQuestionAsso"/><!--  -->
        <typeAlias type="com.blue.pem.check.entity.CheckPackage" alias="CheckPackage"/><!--  -->
        <typeAlias type="com.blue.pem.check.entity.CheckPackageSheetAsso" alias="CheckPackageSheetAsso"/><!--  -->
        <typeAlias type="com.blue.pem.check.entity.CheckReportTemplate" alias="CheckReportTemplate"/><!--  -->
        <typeAlias type="com.blue.pem.check.entity.PatientCheckAlert" alias="PatientCheckAlert"/><!--  -->
        <typeAlias type="com.blue.pem.check.entity.PatientCheckScoreFactor" alias="PatientCheckScoreFactor"/><!--  -->
        <typeAlias type="com.blue.pem.check.entity.PatientCheckReportFactor" alias="PatientCheckReportFactor"/><!--  -->
        <typeAlias type="com.blue.pem.check.entity.CheckSheetClassify" alias="CheckSheetClassify"/><!--  -->
        <typeAlias type="com.blue.pem.check.entity.PatientCheckDataCollection" alias="PatientCheckDataCollection"/><!--  -->
        <typeAlias type="com.blue.pem.check.entity.FreePackage" alias="FreePackage"/><!--  -->
        <!-- 二期新增 -->
        <typeAlias type="com.blue.pem.check.entity.CheckPackageMix" alias="CheckPackageMix"/><!--  -->
        <typeAlias type="com.blue.pem.check.entity.CheckPackageMixPackageAsso" alias="CheckPackageMixPackageAsso"/><!--  -->
        <typeAlias type="com.blue.pem.check.entity.CheckPackageMixSheetAsso" alias="CheckPackageMixSheetAsso"/><!--  -->
        <typeAlias type="com.blue.pem.patient.entity.PatientItemExpand" alias="PatientItemExpand"/><!--  -->
        
        <typeAlias type="com.blue.pem.patient.entity.PatientGroup" alias="PatientGroup"/><!--  -->
        <typeAlias type="com.blue.pem.patient.entity.PatientGroupAssembly" alias="PatientGroupAssembly"/><!--  -->
        <typeAlias type="com.blue.pem.patient.entity.PatientCheckReport" alias="PatientCheckReport"/><!--  -->
        <typeAlias type="com.blue.pem.patient.entity.PatientCheckQuestionOption" alias="PatientCheckQuestionOption"/><!--  -->
        <typeAlias type="com.blue.pem.patient.entity.PatientCheckReportItem" alias="PatientCheckReportItem"/><!--  -->
        <typeAlias type="com.blue.pem.patient.entity.PatientItem" alias="PatientItem"/><!--  -->
        <typeAlias type="com.blue.pem.patient.entity.PatientItemAndReport" alias="PatientItemAndReport"/><!--  -->
        <typeAlias type="com.blue.pem.client.entity.patient.QuestionDTO" alias="QuestionDTO"/><!--  -->
        <typeAlias type="com.blue.pem.client.entity.patient.OptionDTO" alias="OptionDTO"/><!--  -->
        <typeAlias type="com.blue.pem.card.entity.CardBatch" alias="CardBatch"/><!--  -->
        <typeAlias type="com.blue.pem.patient.entity.CheckDataExportBasic" alias="CheckDataExportBasic"/><!--  -->
        <typeAlias type="com.blue.pem.patient.entity.PatientPackageAsso" alias="PatientPackageAsso"/><!--  -->
        <typeAlias type="com.blue.pem.xiaoshan.entity.XiaoshanPatientInfo" alias="XiaoshanPatientInfo"/><!--  -->
        <typeAlias type="com.blue.pem.xiaoshan.entity.XiaoshanInHospitalInfo" alias="XiaoshanInHospitalInfo"/><!--  -->
        
        <!-- pemapp新增 -->
        <typeAlias type="com.blue.pemapp.doctor.entity.Doctor" alias="Doctor"/><!--  -->
        <typeAlias type="com.blue.pemapp.doctor.entity.DoctorMemberAsso" alias="DoctorMemberAsso"/><!--  -->
        <typeAlias type="com.blue.pemapp.doctor.entity.DoctorIncomeRecord" alias="DoctorIncomeRecord"/><!--  -->
        <typeAlias type="com.blue.pemapp.doctor.entity.DoctorMessage" alias="DoctorMessage"/><!--  -->
        <typeAlias type="com.blue.pemapp.doctor.entity.DoctorSpecialityAsso" alias="DoctorSpecialityAsso"/><!--  -->
        <typeAlias type="com.blue.pemapp.doctor.entity.DoctorTrainRecord" alias="DoctorTrainRecord"/><!--  -->
        <typeAlias type="com.blue.pemapp.doctor.entity.DoctorExploiter" alias="DoctorExploiter"/><!--  -->
        
        <typeAlias type="com.blue.pemapp.member.entity.Member" alias="Member"/><!--  -->
        <typeAlias type="com.blue.pemapp.member.entity.MemberMessage" alias="MemberMessage"/><!--  -->
        <typeAlias type="com.blue.pemapp.member.entity.MemberOrder" alias="MemberOrder"/><!--  -->
        
        <typeAlias type="com.blue.pemapp.system.entity.SystemMessage" alias="SystemMessage"/><!--  -->
        <typeAlias type="com.blue.pemapp.system.entity.SystemMessageType" alias="SystemMessageType"/><!--  -->
        <typeAlias type="com.blue.pemapp.system.entity.SystemSetting" alias="SystemSetting"/><!--  -->
        <typeAlias type="com.blue.pemapp.system.entity.SystemPackageType" alias="SystemPackageType"/><!--  -->
        <typeAlias type="com.blue.pemapp.system.entity.SystemVersion" alias="SystemVersion"/><!--  -->
        
	</typeAliases>
	
	<plugins>
		<plugin interceptor="com.blue.common.plugin.PagePlugin">
			<property name="dialect" value="mysql"/>
			<property name="pageSqlId" value=".*listPage.*"/>
		</plugin>
	</plugins>
	
</configuration>